/*
	min-width: 1100px (1100 이상)
*/

/* ===========================================================================
	gnb
=========================================================================== */
.gnb-wrap {
	position:fixed;
	left:0; top:71px;bottom:0;
	width:220px;
	padding-top:25px;
	box-sizing:border-box;
	border-right:1px solid #e5e5e5;
	background-color:#fafafa;
}
.gnb-wrap .home {
	position:relative;
}
.gnb-wrap .home .btn-setting {
	display:block;
	position:absolute;
	right:25px; top:50%;
	width:24px;
	height:24px;
	margin-top:-12px;
	box-sizing:border-box;
	background:url(../img/btn/btn_setting.gif) no-repeat 0 0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.gnb-wrap .link-home,
.gnb-wrap .gnb-list .gnb-item .gnb-title {
	display:block;
	position:relative;
	padding:16px 25px 16px 64px;
	box-sizing:border-box;
	color:#000;
	font-size:14;
	line-height:18px;
}
.gnb-wrap .link-home:before,
.gnb-wrap .gnb-list .gnb-item .gnb-title:before {
	content:'';
	position:absolute;
	left:35px; top:16px;
	width:16px;
	height:18px;
	background-repeat:no-repeat;
	background-position:0 0;
}
.gnb-wrap .link-home.ico01:before {background-image:url(../img/ico/gnb_ico01.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico02:before {background-image:url(../img/ico/gnb_ico02.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico03:before {background-image:url(../img/ico/gnb_ico03.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico04:before {background-image:url(../img/ico/gnb_ico04.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico05:before {background-image:url(../img/ico/gnb_ico05.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico06:before {background-image:url(../img/ico/gnb_ico06.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico07:before {background-image:url(../img/ico/gnb_ico07.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico08:before {background-image:url(../img/ico/gnb_ico08.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico09:before {background-image:url(../img/ico/gnb_ico09.png);}
.gnb-wrap .gnb-list .gnb-item .gnb-title.ico10:before {background-image:url(../img/ico/gnb_ico10.png);}
.gnb-wrap .gnb-list .gnb-item:hover .gnb-title {
	background-color:#ff5c53;
	color:#fff;
}
.gnb-wrap .gnb-list .gnb-item:hover .gnb-title:before {background-position:0 -18px;}
.gnb-wrap .gnb-list .gnb-item:hover .depth1 {display:block;}

.gnb-wrap .depth1 {
	display:none;
	position:fixed;
	left:220px; top:71px; bottom:0;
	width:220px;
	padding-top:12px;
	box-sizing:border-box;
	border-right:1px solid #e5e5e5;
	background-color:#fafafa;
}
.gnb-wrap .depth1 .depth1-title {
	position:relative;
	height:68px;
	box-sizing:border-box;
}
.gnb-wrap .depth1 .depth1-title .text {
	position:absolute;
	left:35px; right:30px; top:50%;
	margin-top:-12px;
	color:#000;
	font-size:18px;
	font-weight:700;
	line-height:24px;
}
.gnb-wrap .depth1 .depth1-list {
	position:absolute;
	left:0; right:0; top:80px; bottom:0;
	padding:10px 0;
	box-sizing:border-box;
	border-top:1px solid #eaeaea;
}
.gnb-wrap .depth1 .depth1-list .depth1-item {}
.gnb-wrap .depth1 .depth1-list .depth1-item .d-title {
	display:block;
	padding:16px 30px 16px 35px;
	color:#333;
	font-size:14px;
	line-height:18px;
}
/* 하위 리스트가 있을경우 */
.gnb-wrap .depth1 .depth1-list .depth1-item.inList .d-title {
	position:relative;
	padding-right:50px;
}
.gnb-wrap .depth1 .depth1-list .depth1-item.inList .d-title:before,
.gnb-wrap .depth1 .depth1-list .depth1-item.inList .d-title:after {
	content:'';
	position:absolute;
	background-color:#9da4ac;
}
.gnb-wrap .depth1 .depth1-list .depth1-item.inList .d-title:before{
	right:35px; top:50%;
	width:9px;
	height:1px;
}
.gnb-wrap .depth1 .depth1-list .depth1-item.inList .d-title:after {
	right:39px; top:50%;
	width:1px;
	height:9px;
	margin-top:-4px;
}
.gnb-wrap .depth1 .depth1-list .depth1-item.inList.on .d-title {color:#ff5c53;}
.gnb-wrap .depth1 .depth1-list .depth1-item.inList.on .d-title:before {background-color:#ff5c53;}
.gnb-wrap .depth1 .depth1-list .depth1-item.inList.on .d-title:after {display:none;}
.gnb-wrap .depth1 .depth2-list {
	display:none;
	padding:10px 0;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	background-color:#f5f5f5;
}
.gnb-wrap .depth1 .depth2-list .depth2-item {}
.gnb-wrap .depth1 .depth2-list .depth2-item a {
	display:block;
	padding:8px 30px 8px 35px;
	color:#333;
	line-height:16px;
}
.gnb-wrap .depth1 .depth2-list .depth2-item a:hover {text-decoration:underline;}