/*
	min-width: 800px (800 이하)
*/

/* ===========================================================================
	레이아웃
=========================================================================== */
.wrapper {}

/* ===========================================================================
	폼요소
=========================================================================== */
/* 인풋 텍스트 */
input[type=text] {
	height:35px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	line-height:35px;
}
label {vertical-align:top;}

/* 체크박스/라디오박스 */
input[type=checkbox].styled1,
input[type=radio].styled1 {
	width:18px;
	height:18px;
	box-sizing:border-box;
}
.checkWrap,
.radioWrap {
	display:inline-block;
	position:relative;
	width:18px;
	height:18px;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-position:0 0;
}
.checkWrap {background-image:url(../img/ico/form_checked.gif);}
.radioWrap {background-image:url(../img/ico/form_radio.gif);}
.checkWrap.checked,
.radioWrap.checked {background-position:0 -18px;}
.checkWrap input[type=checkbox].styled1,
.radioWrap input[type=radio].styled1 {
	position:absolute;
	left:0; top:0;
	opacity:0;
}
.checkWrap + label,
.radioWrap + label {margin-left:6px;}
label + .checkWrap,
label + .radioWrap {margin-left:13px;}
input[type=text] + .checkWrap,
input[type=text] + .radioWrap {margin-left:17px;}

/* 셀렉트 박스 */
select.styled1 {
	height:35px;
	line-height:35px;
}
.selectWrap {
	display:inline-block;
	position:relative;
	height:35px;
}
.selectWrap select.styled1 {
	position:absolute;
	left:0; top:0;
	opacity:0;
}
.selectWrap .selTitle {
	overflow:hidden;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	padding:0 35px 0 15px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	text-overflow:ellipsis;
	line-height:33px;
	white-space:nowrap;
}
.selectWrap .selTitle:before {
	content:'';
	position:absolute;
	right:15px; top:13px;
	width:11px;
	height:7px;
	background-image:url(../img/ico/ico_arr_down01.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.selectWrap .selTitle.bdColor:before {background-position:0 -7px;}

/* ===========================================================================
	버튼
=========================================================================== */
/*
	텍스트 버튼
*/
/* 공통 */
.btn-text {
	display:inline-block;
	min-width:95px;
	padding:0 15px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	color:#666;
	font-size:14px;
	text-align:center;
	line-height:38px;
}
.btn-text:hover {
	border:0 !important;
	background-color:#999;
	color:#fff !important;
	line-height:40px;
}
/* 정렬 */
.btn-align {margin:30px 50px 0;}
.btn-align.center {text-align:center;}
.btn-align.right {text-align:right;}
.btn-align .btn-text {margin-left:7px;}
.btn-align .btn-text:first-child {margin-left:0;}

/*
	아이콘 + 텍스트 버튼
*/
/* 공통 */
.btn-icon-text {display:inline-block;}
.btn-icon-text .text {
	display:block;
	position:relative;
	height:35px;
	padding:0 15px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	background-color:#fff;
	line-height:33px;
	cursor:pointer;
}
.btn-icon-text .text:before {
	content:'';
	position:absolute;
	top:50%;
	background-repeat:no-repeat;
	background-position:0 0;
}
/* 01 */
.btn-icon-text.icon01 .text {padding-left:34px;}
.btn-icon-text.icon01 .text:before {
	left:14px;
	width:12px;
	height:9px;
	margin-top:-5px;
	background-image:url(../img/btn/btn_ico01.png);
}
.btn-icon-text.icon01.on .text {
	border-color:#888;
	color:#333;
}
.btn-icon-text.icon01.on .text:before {background-position:0 -9px;}

/* ===========================================================================
	해더 영역
=========================================================================== */
.header {
	position:fixed;
	left:0; right:0; top:0;
	z-index:100;
	height:70px;
	border-bottom:1px solid #e5e5e5;
	background-color:#fff;
}
.header .logo {
	position:absolute;
	left:0;top:0;
	z-index:5;
	width:260px;
	border-bottom:1px solid #e5e5e5;
	background-color:#fff;
}
.header .logo a {
	display:block;
	height:70px;
	background:url(../img/layout/site_logo.png) no-repeat 0 0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .utill {
	position:absolute;
	right:70px; top:0;
}
.header .utill:after {
	content:'';
	display:block;
	clear:both;
}
.header .utill .user-box {
	float:left;
	position:relative;
}
.header .utill .user-box:before {
	content:'';
	position:absolute;
	right:30px; top:50%;
	width:11px;
	height:7px;
	margin-top:-3px;
	background:url(../img/ico/ico_arr_down01.png) no-repeat 0 0;
}
.header .utill .user-box .user {
	padding:15px 55px 15px 30px;
	cursor:pointer;
}
.header .utill .user-box .user:after {
	content:'';
	display:block;
	clear:both;
}
.header .utill .user-box .img-area {
	overflow:hidden;
	float:left;
	width:40px;
	height:40px;
	border-radius:50%;
	font-size:0;
	line-height:0;
}
.header .utill .user-box .name {
	float:left;
	margin-left:10px;
	line-height:40px;
}
.header .utill .naver-list {
	overflow:hidden;
	float:left;
	padding:0 14px;
	border-left:1px solid #e5e5e5;
}
.header .utill .naver-list .link {
	float:left;
	position:relative;
	width:54px;
	height:70px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.header .utill .naver-list .link1 {background-image:url(../img/ico/ico_n01.png);}
.header .utill .naver-list .link2 {background-image:url(../img/ico/ico_n02.png);}
.header .utill .naver-list .link3 {background-image:url(../img/ico/ico_n03.png);}
.header .utill .naver-list .link4 {background-image:url(../img/ico/ico_n04.png);}
.header .utill .naver-list .link5 {background-image:url(../img/ico/ico_n05.png);}
.header .utill .naver-list .link .len {
	display:block;
	position:absolute;
	right:6px; top:19px;
	width:18px;
	height:18px;
	border-radius:50%;
	background-color:#ff5349;
	color:#fff;
	font-size:11px;
	text-align:center;
	text-indent:0;
	line-height:18px;
}

.header .btn-search {
	position:absolute;
	right:0; top:0;
	width:70px;
	height:70px;
	border-left:1px solid #e5e5e5;
	background-image:url(../img/btn/btn_search.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.btn-gnb {display: none;}
.gnb-utill .utill .user-box .btn-close {display:none;}

/* ===========================================================================
	테이블
=========================================================================== */
.board-list {border-top:1px solid #eee;}
.board-list table {
	width: 100%;
	border-bottom:1px solid #eee;
}
.board-list table caption {display: none;}
.board-list table tbody tr:hover {background-color: #fafafa;}
.board-list table thead th {
	height:54px;
	font-size:14px;
	color:#333;
	font-weight: 700;
}
.board-list table thead th.title {padding-left:70px;}
.board-list table thead th.order button {
	position:relative;
	color:#333;
	font-weight: 700;
	font-size: 14px;
}

.board-list table thead th.order button span {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
  right: -15px;
  top: 50%;
	margin-top:-3px;
}
.board-list table thead th.order button.up {color: #ff5349;}
.board-list table thead th.order button.up span {
	/* border-bottom: 5px solid #ff5349; */
}
.board-list table thead th.order button.down span {
	border-top: 5px solid #9da4ac;
}
.board-list table thead th.order button span em {font-size: 0; line-height:0; text-indent: -9999px;}
.board-list table tbody td {
	padding:18px 0;
	color:#666;
	font-size:13px;
	text-align:center;
	line-height:22px;
	border-top:1px solid #eee;
}
.board-list table tbody td.subject {padding:0;}
.board-list table tbody td.subject a {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	padding:18px 30px 18px 20px;
	color: #333;
	text-align: left;
	box-sizing: border-box;
}
.board-list table tbody td.subject a span {vertical-align: middle;}
.board-list table tbody td.subject a .tit {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.board-list table tbody td.subject a .reply {position:absolute;}
.board-list table tbody .important td.subject a{font-weight: 700;}
.board-list table tbody td.subject a:hover {text-decoration: underline;}
.board-list table .checkWrap,
.board-list table img {vertical-align:middle;}
.board-list table td .icon-important {
	display:inline-block;
	width:44px;height:24px;
	font-size:12px;
	text-align:center;
	background-color:#fff;
	border:1px solid;
	box-sizing:border-box;
}




/* ===========================================================================
	컨텐츠
=========================================================================== */
/* 서브 공통 타이틀 영역 */
.title-wrap {padding:43px 50px 34px;}
.title-wrap .title {
	color:#000;
	font-size:25px;
}

/* 게시판 상단 소팅 영역 */
.sorting-area {
	position:relative;
	margin:0 50px;
	padding:15px 0;
	border-bottom:1px solid #eee;
}
.sorting-area:after,
.sorting-area .left-box:after {
	content:'';
	display:block;
	clear:both;
}
.sorting-area .left-box {
	position:absolute;
	left:0; top:0; bottom:0;
	padding:15px 0;
}
.sorting-area .left-box .selectWrap {
	float:left;
}
.sorting-area .left-box .align-btns {
	overflow:hidden;
	float:left;
	margin-left:10px;
}
.sorting-area .left-box .align-btns button {
	float:left;
	border:1px solid #e5e5e5;
	background-color:#fff;
}
.sorting-area .left-box .align-btns button:first-child {border-right:0;}
.sorting-area .left-box .align-btns button .icon {
	display:block;
	width:33px;
	height:33px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	font-size:0;
	line-height:0;
	opacity:.3;
}
.sorting-area .left-box .align-btns .btn-align1 .icon {background-image:url(../img/btn/btn_align01.png);}
.sorting-area .left-box .align-btns .btn-align2 .icon {background-image:url(../img/btn/btn_align02.png);}
.sorting-area .left-box .align-btns button:hover {background-color:#fafafa;}/* hover */
.sorting-area .left-box .align-btns button:hover .icon {opacity:.6;}/* hover */
.sorting-area .left-box .align-btns button.on {background-color:#fff; cursor:default;}/* on */
.sorting-area .left-box .align-btns button.on .icon {opacity:1;}/* on */
.sorting-area .left-box .all-len {
	padding-top:17px;
	font-size:15px;
}
.sorting-area .left-box .all-len .len {font-weight:700;}
.sorting-area .right-box {float:right;}
.sorting-area .right-box .layout-btns {
	overflow:hidden;
}
.sorting-area .right-box .layout-btns button {
	float:left;
}
.sorting-area .right-box .layout-btns button .text {
	display:inline-block;
	position:relative;
	padding:0 10px 0 28px;
	color:#999;
	font-size:12px;
	line-height:35px;
}
.sorting-area .right-box .layout-btns button .text:before,
.sorting-area .right-box .layout-btns button .text:after {
	content:'';
	position:absolute;
	top:50%;
	height:11px;
	margin-top:-6px;
}
.sorting-area .right-box .layout-btns button .text:before {
	left:8px;
	width:11px;
	background-repeat:no-repeat;
	background-position:0 0;
	opacity:.3;
}
.sorting-area .right-box .layout-btns .btn-layout1 .text:before {background-image:url(../img/btn/btn_layout01.png);}
.sorting-area .right-box .layout-btns .btn-layout2 .text:before {background-image:url(../img/btn/btn_layout02.png);}
.sorting-area .right-box .layout-btns .btn-layout3 .text:before {background-image:url(../img/btn/btn_layout03.png);}
.sorting-area .right-box .layout-btns button .text:after {
	left:0;
	width:1px;
	background-color:#eee;
}
.sorting-area .right-box .layout-btns button:first-child .text:after {display:none;}
.sorting-area .right-box .layout-btns button:hover .text {color:#666;}/* hover */
.sorting-area .right-box .layout-btns button:hover .text:before {opacity:.5;}/* hover */
.sorting-area .right-box .layout-btns button.on .text {color:#333; cursor:default;}/* on */
.sorting-area .right-box .layout-btns button.on .text:before {opacity:1;}/* on */

/* 페이징 */
.paging {
	margin:30px 50px 0;
	font-size:0;
	text-align:center;
	line-height:0;
}
.paging a {
	display:inline-block;
	width:30px;
	height:30px;
	margin-left:5px;
	box-sizing:border-box;
	vertical-align:top;
}
.paging a:first-child {margin-left:0;}
.paging .page {
	border:1px solid #fff;
	background-color:#fff;
	color:#666;
	font-size:13px;
	text-align:center;
	line-height:28px;
}
.paging .page:hover,
.paging .page.fColor {border-color:#ccc;}/* on */
.paging .btn {
	background-image:url(../img/btn/btn_pageing.png);
	background-repeat:no-repeat;
}
.paging .btn.first {background-position:0 0;}
.paging .btn.prev {background-position:0 -30px;margin-right:7px;}
.paging .btn.next {background-position:0 -60px;margin-left:12px;}
.paging .btn.end {background-position:0 -90px;}