/*
	min-width: 800px (800 이하)
*/

/* ===========================================================================
	레이아웃
=========================================================================== */
.wrapper {}
.content {padding-bottom:80px;}

/* 웹에서 숨김처리 */
.wHide {display:none;}

/* 투명 딤드 */
.dimmed.opacity {
	background-color:transparent;
}

/* ===========================================================================
	폼요소
=========================================================================== */
/* 입력박스 */
input[type=text],
input[type=number] {
	height:35px;
	padding:0 14px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	line-height:35px;
}
label {vertical-align:middle;}

textarea {
	padding:13px 15px;
	border:1px solid #e5e5e5;
	box-sizing: border-box;
	resize: none;
}

.required-box {
	display:inline-block;
	position:relative;
}
.required-box .message {
	display:none;
	position:absolute;
	left:15px; top:-32px;
	height:28px;
	padding:0 10px;
	border:1px solid #d0d0d0;
	background-color:#fff;
	font-size:12px;
	line-height:26px;
}
.required-box .message:before {
	content:'';
	position:absolute;
	left:0; right:0; bottom:-10px;
	height:10px;
	background:url(../img/bg/bg_message.png) no-repeat 50% 0;
}


/* 체크박스/라디오박스 */
input[type=checkbox].styled1,
input[type=radio].styled1 {
	width:18px;
	height:18px;
	box-sizing:border-box;
}
.checkWrap,
.radioWrap {
	display:inline-block;
	position:relative;
	width:18px;
	height:18px;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-position:0 0;
	vertical-align:middle;
}
.checkWrap {background-image:url(../img/ico/form_checked.png);}
.radioWrap {background-image:url(../img/ico/form_radio.png);}
.checkWrap.checked,
.radioWrap.checked {background-position:0 -18px;}
.checkWrap.disabled,
.radioWrap.disabled {background-position:0 -36px;}
.checkWrap.disabled.checked,
.radioWrap.disabled.checked {background-position:0 -54px;}
.checkWrap input[type=checkbox].styled1,
.radioWrap input[type=radio].styled1 {
	position:absolute;
	left:0; top:0;
	opacity:0;
}
.checkWrap + label,
.radioWrap + label {margin-left:6px;}
label + .checkWrap,
label + .radioWrap {margin-left:13px;}
input[type=text] + .checkWrap,
input[type=text] + .radioWrap,
.required-box + .checkWrap,
.required-box + .radioWrap {margin-left:17px;}
input[type=text] + .form-box,
.required-box + .form-box {display:inline-block; margin-left:17px;}

/* 셀렉트 박스 */
select.styled1 {
	height:35px;
	line-height:35px;
}
.selectWrap {
	display:inline-block;
	position:relative;
	height:35px;
	background-color:#fff;
	text-align:left;
	vertical-align:middle;
}
.selectWrap select.styled1 {
	position:absolute;
	left:0; top:0;
	opacity:0;
}
.selectWrap .selTitle {
	overflow:hidden;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	padding:0 35px 0 15px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	text-overflow:ellipsis;
	line-height:33px;
	white-space:nowrap;
}
.selectWrap .selTitle:before {
	content:'';
	position:absolute;
	right:15px; top:13px;
	width:11px;
	height:7px;
	background-image:url(../img/ico/ico_arr_down01.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.selectWrap .selTitle.bdColor:before {background-position:0 -7px;}

.selectWrap.disabled .selTitle {
	border-color:#eee;
	background-color:#fafafa;
	color:#bbb;
}
.selectWrap.disabled .selTitle:before {opacity:.4;}

/* 상단 검색 박스 */
.top-search-box {
	margin:0 50px;
	padding:24px 0;
	border:1px solid #eee;
	background-color:#fafafa;
	text-align:center;
}
.top-search-box .selectWrap + .selectWrap {margin-left:2px;}
.top-search-box .selectWrap {}
.top-search-box .search-text {
	display:inline-block;
	position:relative;
	width:464px;
	padding-right:53px;
}
.top-search-box .search-text input[type=text] {
	width:100%;
	margin-left:12px;
}
.top-search-box .search-text .btn-search {
	position:absolute;
	right:0; top:0; bottom:0;
	width:54px;
	background:#9da4ac url(../img/btn/btn_search02.png) no-repeat 50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}

.top-search-box {}
.top-search-box .list-item {
	position:relative;
	margin-top:10px;
	padding-left:130px;
	text-align:left;
}
.top-search-box .list-item:first-child {margin-top:0;}
.top-search-box .list-item dt {
	position:absolute;
	left:30px; top:0;
	height:35px;
	color:#333;
	font-size:14px;
	font-weight:bold;
	line-height:35px;
}
.year-month-select {
	overflow:hidden;
	position:relative;
}
.year-month-select .select-area {
	overflow:hidden;
	float:left;
	padding-left:24px;
}
.year-month-select .select-area:first-child {padding-left:0;}
.year-month-select .select-area .select-box {
	float:left;
	position:relative;
	width:130px;
	padding-right:30px;
	box-sizing:border-box;
}
.year-month-select .select-area .select-box .text {
	position:absolute;
	right:0;top:0;
	width:30px;
	color:#999;
	text-align:center;
	line-height:35px;
}
.year-month-select .select-area .select-box {}
.year-month-select .select-area .select-box {}
.year-month-select .swung-dash {
	position:absolute;
	left:260px;top:0;
	width:24px;
	color:#999;
	line-height:35px;
}

.top-search-box .btn-wrap {
	border-top:1px solid #eee;
	margin-top:20px;
	padding:20px 0 10px;
}
.top-search-box .btn-wrap .btn-text {
	min-width:95px;
	background-color:#999;
	border:0;
	color:#fff;
	line-height:35px;
}
.top-search-box .btn-wrap .btn-text:hover {color:#fff;}

/* ===========================================================================
	버튼
=========================================================================== */
/*
	텍스트 버튼
*/
/* 공통 */
.btn-text {
	display:inline-block;
	min-width:95px;
	padding:0 15px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	background-color:#fff;
	color:#666;
	font-size:14px;
	text-align:center;
	line-height:38px;
}
.btn-text:hover {
	border:0 !important;
	background-color:#999;
	color:#fff !important;
	line-height:40px;
}

.btn-text.mid {
	min-width:76px;
	padding:0 15px;
	font-size:12px;
	line-height:33px;
}
.btn-text.mid:hover {line-height:35px;}

.btn-text.sm {
	min-width:auto;
	padding:0 10px;
	font-size:12px;
	line-height:26px;
}
.btn-text.sm:hover {padding:0 11px;line-height:28px;}

.btn-text.btn-save {
	height: 89px;
	line-height:87px;
}

/* 정렬 */
.btn-wrap {margin:30px 50px 0;}
.btn-wrap .btn-align {display:inline-block;margin:0 0 0 7px;}
.btn-wrap .btn-align:first-child {margin-left:0;}
.btn-wrap .btn-align .btn-item {
	display:inline-block;
	margin-left:7px;
}
.btn-wrap .btn-align .btn-item:first-child {margin-left:0;}
.btn-wrap.right {text-align:right;}
.btn-wrap.center {text-align:center;}

/*
	아이콘 + 텍스트 버튼
*/
/* 공통 */
.btn-icon-text {
	display:inline-block;
	border:1px solid #e5e5e5;
	background-color:#fff;
	text-align:center;
}
.btn-icon-text .text {
	display:block;
	position:relative;
	height:33px;
	padding:0 14px;
	box-sizing:border-box;
	line-height:33px;
	cursor:pointer;
}
.btn-icon-text .text:before {
	content:'';
	position:absolute;
	top:50%;
	background-repeat:no-repeat;
	background-position:0 0;
}
/* 01 */
.btn-icon-text.icon01 .text {padding-left:34px;}
.btn-icon-text.icon01 .text:before {
	left:14px;
	width:12px;
	height:9px;
	margin-top:-5px;
	background-image:url(../img/btn/btn_ico01.png);
}
.btn-icon-text.icon01.on {
	border-color:#888;
	color:#333;
}
.btn-icon-text.icon01.on .text:before {background-position:0 -9px;}


/*02*/
.btn-icon-text.icon02 .text {padding-left:34px;}
.btn-icon-text.icon02 .text:before {
	left:14px;
	width:12px;
	height:11px;
	margin-top:-5px;
	background-image:url(../img/btn/btn_ico02.png);
}
.btn-icon-text.icon02.on {
	border-color:#888;
	color:#333;
}
.btn-icon-text.icon02.on .text:before {background-position:0 -11px;}

/*03*/
.btn-icon-text.icon03 {}
.btn-icon-text.icon03 .text {
	display:inline-block;
	height:38px;
	padding-left:38px;
	border:0;
	line-height:38px;
}
.btn-icon-text.icon03 .text .icon {
	position:absolute;
	left:15px;top:50%;
	width:14px;
	height:15px;
	margin-top:-8px;
	background-image:url(../img/btn/btn_ico05.png);
	background-repeat:no-repeat;
	background-position:0 0;
}

.btn-icon-text.icon03.bgColor .text {color:#fff !important;}
.btn-icon-text.icon03.bgColor .text .icon {background-color:transparent !important;background-position:0 -15px;}

/*
	아이콘 버튼
*/
/* 공통 */
.btn-icon {
	position: relative;
	display:inline-block;
	box-sizing: border-box;
}
.btn-icon .text {
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}
.btn-icon:before {
	content:'';
	display: block;
	position:absolute;
	top:50%;
	background-repeat:no-repeat;
	background-position:left top;
}
.btn-icon.on:before {
	background-position: left bottom;
}
/* 01 */
.btn-icon.icon01{
	width:36px;
	height:35px;
	border:1px solid #eee;
}
.btn-icon.icon01:before {
	left:50%;
	width:16px;
	height:15px;
	margin-left:-8px;
	margin-top: -8px;
	background-image:url(../img/btn/btn_ico03.png);
}

/* 02 */
.btn-icon.icon02{
	width:50px;
	height:35px;
	border:1px solid #eee;
}
.btn-icon.icon02:before {
	left:10px;
	width:14px;
	height:13px;
	margin-top: -7px;
	background-image:url(../img/btn/btn_ico04.png);
}
.btn-icon.icon02:after {
	content:'';
	display: block;
	position:absolute;
	top:50%;
	right:10px;
	width:7px;
	height: 4px;
	margin-top:-2px;
	background:url(../img/ico/ico_down.png) 0 0 no-repeat;
}
.btn-icon.icon02.on:after {
	transform: rotate(180deg);
}

/*조회수*/
.icon-text {
	display:inline-block;
	vertical-align: middle;
}
.icon-text .text {
	display:block;
	position:relative;
	height:30px;
	padding:0 15px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	background-color:#fff;
	line-height:28px;
}
.icon-text .text:before {
	content:'';
	position:absolute;
	top:50%;
	background-repeat:no-repeat;
	background-position:0 0;
}
.icon-text.icon01 .text {padding-left:34px; font-size: 12px;}
.icon-text.icon01 .text:before {
	left:14px;
	width:16px;
	height:10px;
	margin-top:-5px;
	background-image:url(../img/btn/ico_text01.png);
}

/* ===========================================================================
	탭스타일
=========================================================================== */
/* 탭컨텐츠 영역 */
.tabContent {margin:0 50px;}
/* 01 */
.tabCont {display:none;}
.tabCont.on {display:block;}

.tab-list1 {
	margin:30px 50px 0;
	border-bottom:1px solid #e5e5e5;
}
.tab-list1:after {
	content:'';
	display:block;
	clear:both;
}
.tab-list1 .item {
	float:left;
	position:relative;
}
.tab-list1 .item .text {
	display:block;
	height:45px;
	padding:0 20px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	font-size:14px;
	text-align:center;
	line-height:44px;
	cursor:pointer;
}
.tab-list1 .item:first-child .text {border-left:1px solid #e5e5e5;}
.tab-list1 .item:hover .text {background-color:#fafafa;}
.tab-list1 .item.fColor:before {
	content:'';
	position:absolute;
	left:1px; right:1px; bottom:-1px;
	height:1px;
	background-color:#fff;
}
.tab-list1 .item.fColor .text {
	background-color:#fff;
	font-weight:700;
	cursor:default;
}

/* ===========================================================================
	해더 영역
=========================================================================== */
.header {
	position:fixed;
	left:0; right:0; top:0;
	z-index:100;
	height:70px;
	border-bottom:1px solid #e5e5e5;
	background-color:#fff;
}
.header .logo {
	position:absolute;
	left:0;top:0;
	z-index:5;
	width:200px;
	padding-left: 20px;
	border-bottom:1px solid #e5e5e5;
	background-color:#fff;
}
.header .logo a {
	display:block;
	height:70px;
	background:url(../img/layout/site_logo.png) no-repeat 0 0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .utill {
	position:absolute;
	right:70px; top:0;
}
.header .utill:after {
	content:'';
	display:block;
	clear:both;
}
.header .utill .user-box {
	float:left;
	position:relative;
}
.header .utill .user-box:before {
	content:'';
	position:absolute;
	right:30px; top:50%;
	width:11px;
	height:7px;
	margin-top:-3px;
	background:url(../img/ico/ico_arr_down01.png) no-repeat 0 0;
}
.header .utill .user-box .user {
	padding:15px 55px 15px 30px;
	cursor:pointer;
}
.header .utill .user-box .user:after {
	content:'';
	display:block;
	clear:both;
}
.header .utill .user-box .img-area {
	overflow:hidden;
	float:left;
	width:40px;
	height:40px;
	border-radius:50%;
	font-size:0;
	line-height:0;
}
.header .utill .user-box .name {
	float:left;
	margin-left:10px;
	line-height:40px;
}
.header .utill .naver-list {
	overflow:hidden;
	float:left;
	padding:0 14px;
	border-left:1px solid #e5e5e5;
}
.header .utill .naver-list .link {
	float:left;
	position:relative;
	width:54px;
	height:70px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.header .utill .naver-list .link1 {background-image:url(../img/ico/ico_n01.png);}
.header .utill .naver-list .link2 {background-image:url(../img/ico/ico_n02.png);}
.header .utill .naver-list .link3 {background-image:url(../img/ico/ico_n03.png);}
.header .utill .naver-list .link4 {background-image:url(../img/ico/ico_n04.png);}
.header .utill .naver-list .link5 {background-image:url(../img/ico/ico_n05.png);}
.header .utill .naver-list .link6 {background-image:url(../img/ico/ico_n06.png);}
.header .utill .naver-list .link7 {background-image:url(../img/ico/ico_n07.png);}
.header .utill .naver-list .link8 {background-image:url(../img/ico/ico_n08.png);}
.header .utill .naver-list .link .len {
	display:block;
	position:absolute;
	right:6px; top:19px;
	width:18px;
	height:18px;
	border-radius:50%;
	background-color:#ff5349;
	color:#fff;
	font-size:11px;
	text-align:center;
	text-indent:0;
	line-height:18px;
}

.header .btn-search {
	position:absolute;
	right:0; top:0;
	width:70px;
	height:70px;
	border-left:1px solid #e5e5e5;
	background-image:url(../img/btn/btn_search.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.btn-gnb {display: none;}
.gnb-utill .utill .user-box .btn-close {display:none;}

/* ===========================================================================
	태깅
=========================================================================== */
.tagging-box {
	position:relative;
	border:1px solid #e5e5e5;
	min-height:35px;
	box-sizing:border-box;
}
.tagging-box .fake-placeholder {
	position:absolute;
	left:0; top:0;
	padding:5px 14px;
	color:#bbb;
	line-height:23px;
}
.tagging-box .tagging {
	overflow:hidden;
	position:relative;
	margin:-5px 0 0 -5px;
	padding:5px 14px;
}
.tagging-box .tagging .tag {
	float:left;
	position:relative;
	height:23px;
	margin:5px 0 0 5px;
	padding:0 20px 0 8px;
	box-sizing:border-box;
	border:1px solid #d2eaff;
	background-color:#e0f1ff;
	color:#333;
	font-size:12px;
	line-height:21px;
}
.tagging-box .tagging .tag span {display:none;}
.tagging-box .tagging .type-zone {
	float:left;
	height:23px;
	margin:5px 0 0 5px;
	border:0;
	background-color:transparent;
	line-height:23px;
}
.tagging-box .tagging .tag .tag-i {
	position:absolute;
	right:0; top:0; bottom:0;
	width:20px;
	background:url(../img/btn/btn_del.png) no-repeat 50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
	cursor:pointer;
}

/* ===========================================================================
	테이블
=========================================================================== */
/* 리스트 테이블 */
.board-list1 {border-top:1px solid #eee;}
.board-list1 table {
	width: 100%;
	border-bottom:1px solid #eee;
}
.board-list1 table caption {display: none;}
.board-list1 table tbody tr:hover {background-color: #fafafa;}
.board-list1 table thead th {
	height:54px;
	font-size:14px;
	color:#333;
	font-weight: 700;
}
.board-list1 table thead th.title {padding-left:70px;}
.board-list1 table thead th.order button {
	position:relative;
	color:#333;
	font-weight: 700;
	font-size: 14px;
}

.board-list1 table thead th.order button span {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
  right: -15px;
  top: 50%;
	margin-top:-3px;
}
.board-list1 table thead th.order button.up {color: #ff5349;}
.board-list1 table thead th.order button.up span {
	/* border-bottom: 5px solid #ff5349; */
}
.board-list1 table thead th.order button.down span {
	border-top: 5px solid #9da4ac;
}
.board-list1 table thead th.order button span em {font-size: 0; line-height:0; text-indent: -9999px;}
.board-list1 table tbody td {
	padding:18px 0;
	color:#666;
	font-size:13px;
	text-align:center;
	line-height:22px;
	border-top:1px solid #eee;
}
.board-list1 table tbody td.subject {padding:0;}
.board-list1 table tbody td.subject a {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	padding:18px 30px 18px 20px;
	color: #333;
	text-align: left;
	box-sizing: border-box;
}
.board-list1 table tbody td.subject a span {vertical-align: middle;}
.board-list1 table tbody td.subject a .tit {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.board-list1 table tbody td.subject a .reply {position:absolute;}
.board-list1 table tbody .important td.subject a{font-weight: 700;}
.board-list1 table tbody td.subject a:hover {text-decoration: underline;}
.board-list1 table .checkWrap,
.board-list1 table img {vertical-align:middle;}
.board-list1 table td .icon-important {
	display:inline-block;
	width:44px;height:24px;
	font-size:12px;
	text-align:center;
	background-color:#fff;
	border:1px solid;
	box-sizing:border-box;
}

.sorting-area + .list-view .board-list1,
.sorting-area + .list-view .list-type .board-list1 {border-top:0;}

/* 쓰기 테이블 */
.board-write1 {
	margin:0 50px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.board-write1 th,
.board-write1 td {border-top:1px solid #f5f5f5;}
.board-write1 tr:first-child th,
.board-write1 tr:first-child td {border-top:0;}
.board-write1 th {
	color:#333;
	font-size:14px;
	text-align:left;
}
.board-write1 td {
	height:35px;
	padding:15px 30px;
}
.board-write1 .text-notice {
	margin-top:6px;
	color:#999;
	font-size:12px;
}

/*보기 테이블*/
.board-view1 {
	margin:0 50px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.board-view1 > ul > li {
	width: 100%;
	padding:20px 10px;
	min-height: 55px;
	border-top:1px solid #eee;
	box-sizing: border-box;
}
.board-view1 > ul > li:first-child {border-top: none;}
.board-view1 .tit-wrap {position: relative;}
.board-view1 .tit-wrap:after {content: '';display: block; clear: both;}
.board-view1 .tit-wrap .left-box {position: relative;}
.board-view1 .tit-wrap .left-box p {
	padding-right:250px;
	font-weight: 700;
	color: #333;
	font-size: 14px;
}
.board-view1 .tit-wrap .right-box {
	position: absolute;
	right: 10px;
	top:50%;
	margin-top: -15px;
}
.board-view1 .tit-wrap .right-box .left {display: inline-block;}
.board-view1 .tit-wrap .right-box .left .icon02 {margin-right: 3px;}
.board-view1 .tit-wrap .right-box .left button span {
	height: 30px;
	line-height: 28px;
	font-size: 12px;
}
.board-view1 .tit-wrap .right-box .right button {height: 30px;}
.board-view1 .right {
	position:relative;
	display: inline-block;
	margin-left: 13px;
}
.board-view1 .right .icon02 {margin-left: -4px;}
.board-view1 .right .icon02.on + .tooltip {display: block;}
.board-view1 .right .tooltip {
	display: none;
	position: absolute;
	top:29px;
	left:35px;
	width: 105px;
	padding:20px;
	border:1px solid #eee;
	background-color: #fff;
	box-sizing: border-box;
	z-index: 10;
}
.board-view1 .right .tooltip li {margin-top: 9px;}
.board-view1 .right .tooltip li:first-child {margin-top: 0;}
.board-view1 .info-wrap {position:relative;}
.board-view1 .info-wrap:before {content: '';display: block; clear: both;}
.board-view1 .info-wrap .left-box {float:left;}
.board-view1 .info-wrap .left-box ul {overflow: hidden;}
.board-view1 .info-wrap .left-box ul li {
	position:relative;
	float: left;
	margin-left:12px;
	padding-left:12px;
	font-size: 12px;
}
.board-view1 .info-wrap .left-box ul li:first-child {
	margin-left: 0;
	padding-left: 0;
}
.board-view1 .info-wrap .left-box ul li:before {
	content: '';
	width: 1px;
	height: 11px;
	position: absolute;
	left: 0; top:50%;
	margin-top:-5px;
	background-color: #eee;
}
.board-view1 .info-wrap .left-box ul li:first-child:before {display: none;}
.board-view1 .info-wrap .right-box {float:right;}
.board-view1 .info-wrap .right-box .btn-attach {
	position: relative;
	font-size: 12px;
	padding-right:15px;
	vertical-align: top;
}
.board-view1 .info-wrap .right-box .btn-attach.on {
	font-weight: 700;
}
.board-view1 .info-wrap .right-box .btn-attach:before {
	content: '';
	width:7px;
	height:4px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-2px;
	background: url(../img/ico/ico_down.png) no-repeat 0 0;
}
.board-view1 .info-wrap .right-box .btn-attach.on:before {transform:rotate(180deg);}
.board-view1 .info-wrap .right-box .btn-attach.on + .attach-list {display: block;}
.board-view1 .info-wrap .right-box .attach-list {
	display: none;
	position:absolute;
	right:10px;
	top:45px;
	background-color:#fff;
	border:1px solid #e5e5e5;
	padding:20px 30px;
}
.board-view1 .info-wrap .right-box .attach-list li {text-align: right;}
.board-view1 .info-wrap .right-box .attach-list li a{
	background: url(../img/ico/ico_file2.png) no-repeat left center;
	padding-left:14px;
}
.board-view1 .info-wrap .right-box .attach-list li a:hover {
	color:#333;
	text-decoration: underline;
}
.board-view1 .cont-wrap .cont {padding:15px 0 30px }
.board-view1 .cont-wrap .cont img {max-width: 100%;}
.board-view1 .cont-wrap .tag-wrap {position: relative;}
.board-view1 .cont-wrap .tag-wrap .input-area {
	width: 100%;
	padding-right:100px;
	box-sizing: border-box;
}
.board-view1 .cont-wrap .tag-wrap .input-area input {
	width: 100%;
	height: 28px;
}
.board-view1 .cont-wrap .tag-wrap .btn-area {
	position: absolute;
	right: 0; top:0;
}
.board-view1 .cont-wrap .tag-wrap .bottom {
	position: relative;
	margin-top: 10px;
}
.board-view1 .cont-wrap .tag-wrap .top .tit {
	position:absolute;
	left:0; top:0;
	display: block;
	width: 40px;
	height: 28px;
	padding-right:3px;
	line-height: 28px;
	background-image: url(../img/bg/bg_tag.png);
	background-position: right top;
	background-repeat: no-repeat;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 28px;
	box-sizing: border-box;
}
.board-view1 .cont-wrap .tag-wrap .top .tag-list {
	overflow: hidden;
	padding-left:40px;
}
.board-view1 .cont-wrap .tag-wrap .top .tag-list span {
	position: relative;
	float:left;
	display: inline-block;
	padding:0 24px 0 10px;
	margin-left:6px;
	margin-bottom:6px;
	background-color:#fafafa;
	color:#888;
	font-size: 12px;
	text-align: center;
	line-height:28px;
}
.board-view1 .cont-wrap .tag-wrap .top .tag-list span .btn-del {
	width: 23px;
	height: 28px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -14px;
	background: url(../img/btn/btn_del.png) no-repeat 50% 50%;
	font-size: 0;
	text-indent: -9999px;
	line-height: 0;
}

.reply-wrap {
	margin:60px 50px 0 50px;
	padding:40px 30px 20px 30px;
	background-color: #fafafa;
}
.reply-wrap .tit {font-size: 14px; font-weight: 700;}
.reply-wrap .input-area {
	position: relative;
	margin-top: 15px;
}
.reply-wrap .input-area .text-wrap {
	width: 100%;
	height: 90px;
	padding-right:105px;
	box-sizing: border-box;
}
.reply-wrap .input-area textarea {width: 100%; height: 100%;}
.reply-wrap .input-area .btn-area {
	position: absolute;
	right:0; top:0;
}

.reply-wrap .reply-list {overflow: hidden;}
.reply-wrap .reply-list > ul > li {
	padding:20px 0;
	border-top:1px solid #eee;
}
.reply-wrap .reply-list li:first-child {border-top:none}
.reply-wrap .reply-list .user {
	float:left;
}
.reply-wrap .reply-list .user:after {
	content:'';
	display:block;
	clear:both;
}
.reply-wrap .reply-list .img-area {
	overflow:hidden;
	float:left;
	width:34px;
	height:34px;
	border-radius:50%;
	font-size:0;
	line-height:0;
}
.reply-wrap .reply-list .img-area img {width: 100%; height: 100%;}
.reply-wrap .reply-list .name {
	float:left;
	margin-left:20px;
	font-size: 13px;
	color: #333;
	font-weight: 700;
	line-height:34px;
}
.reply-wrap .reply-list .info-wrap .info-list {position: relative;}
.reply-wrap .reply-list .info-wrap .info-list .date {
	position:relative;
	color:#999;
	float:left;
	line-height: 34px;
	margin-left:12px;
	padding-left:12px;
}

.reply-wrap .reply-list .info-wrap .info-list ul {overflow: hidden;}
.reply-wrap .reply-list .info-wrap .info-list li {
	position: relative;
	float: left;
	margin-left:12px;
	padding-left:12px;
	line-height: 34px;
	color:#999;
}
.reply-wrap .reply-list .info-wrap .info-list li:before,
.reply-wrap .reply-list .info-wrap .info-list .date:before {
	content: '';
	width: 1px;
	height: 11px;
	position: absolute;
	left: 0; top:50%;
	margin-top:-5px;
	background-color: #eee;
}
.reply-wrap .reply-list .info-wrap .info-list li button {color:#999}
.reply-wrap .reply-list .input-area {margin-top: 0}
.reply-wrap .reply-list .input-area .text-wrap {
	padding-left:53px;
}
.reply-wrap .reply-list .input-area .text-wrap.type2{
	padding-right: 0;
	height: inherit;
}
.reply-wrap .reply-list .input-area .btn-area button {
	display: block;
	background-color: #fff;

}
.reply-wrap .reply-list .input-area  .btn-area button:first-child {margin-bottom:10px}
.page-wrap {
	margin:50px 50px 0 50px;
	border-bottom:1px solid #eee;
}
.page-wrap ul li {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding:20px 10px;
	border-top:1px solid #eee;
	box-sizing: border-box;
}
.page-wrap ul li span {
	float: left;
	display: block;
	color:#333;
}
.page-wrap ul li .tit {
	width: 85px;
	position: absolute;
}
.page-wrap ul li .cont {
	position:relative;
	padding-left: 85px;
	padding-right: 210px;
	width: 100%;
	line-height:19px;
	color: #333;
	font-weight: 700;
	box-sizing: border-box;
	overflow:hidden;
}
.page-wrap ul li .cont .cont-tit{
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.page-wrap ul li .cont em {position: absolute;}
.page-wrap ul li .name,
.page-wrap ul li .date {width:105px; text-align: right;position:absolute; right:0; padding-right:10px; box-sizing: border-box;}
.page-wrap ul li .date {right:105px;}

/* ===========================================================================
	컨텐츠
=========================================================================== */
/* 서브 공통 타이틀 영역 */
.title-wrap {
	display:none;
	padding:43px 50px 34px;
}
.title-wrap:after {
	content:'';
	display:block;
	clear:both;
}
.title-wrap .title {
	float:left;
	color:#000;
	font-size:25px;
}
.title-wrap .text {
	float:left;
	margin-left:20px;
	font-size:14px;
	line-height:37px;
}

/* 게시판 상단 소팅 영역 */
.sorting-area {
	position:relative;
	margin:0 50px;
	padding:15px 0;
	border-bottom:1px solid #eee;
}
.sorting-area:after,
.sorting-area .left-box:after {
	content:'';
	display:block;
	clear:both;
}
.sorting-area .left-box {
	position:absolute;
	left:0; top:0; bottom:0;
	padding:15px 0;
}
.sorting-area .left-box .selectWrap {
	float:left;
}
.sorting-area .left-box .align-btns {
	overflow:hidden;
	float:left;
	margin-left:10px;
}
.sorting-area .left-box .align-btns button {
	float:left;
	border:1px solid #e5e5e5;
	background-color:#fff;
}
.sorting-area .left-box .align-btns button:first-child {border-right:0;}
.sorting-area .left-box .align-btns button .icon {
	display:block;
	width:33px;
	height:33px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	font-size:0;
	line-height:0;
	opacity:.3;
}
.sorting-area .left-box .align-btns .btn-align1 .icon {background-image:url(../img/btn/btn_align01.png);}
.sorting-area .left-box .align-btns .btn-align2 .icon {background-image:url(../img/btn/btn_align02.png);}
.sorting-area .left-box .align-btns button:hover {background-color:#fafafa;}/* hover */
.sorting-area .left-box .align-btns button:hover .icon {opacity:.6;}/* hover */
.sorting-area .left-box .align-btns button.on {background-color:#fff; cursor:default;}/* on */
.sorting-area .left-box .align-btns button.on .icon {opacity:1;}/* on */
.sorting-area .left-box .all-len {
	padding-top:17px;
	font-size:15px;
}
.sorting-area .left-box .all-len .len {font-weight:700;}
.sorting-area .right-box {float:right;}
.sorting-area .right-box .layout-btns {
	overflow:hidden;
}
.sorting-area .right-box .layout-btns button {
	float:left;
}
.sorting-area .right-box .layout-btns button .text {
	display:inline-block;
	position:relative;
	padding:0 10px 0 28px;
	color:#999;
	font-size:12px;
	line-height:35px;
}
.sorting-area .right-box .layout-btns button .text:before,
.sorting-area .right-box .layout-btns button .text:after {
	content:'';
	position:absolute;
	top:50%;
	height:11px;
	margin-top:-6px;
}
.sorting-area .right-box .layout-btns button .text:before {
	left:8px;
	width:11px;
	background-repeat:no-repeat;
	background-position:0 0;
	opacity:.3;
}
.sorting-area .right-box .layout-btns .btn-layout1 .text:before {background-image:url(../img/btn/btn_layout01.png);}
.sorting-area .right-box .layout-btns .btn-layout2 .text:before {background-image:url(../img/btn/btn_layout02.png);}
.sorting-area .right-box .layout-btns .btn-layout3 .text:before {background-image:url(../img/btn/btn_layout03.png);}
.sorting-area .right-box .layout-btns button .text:after {
	left:0;
	width:1px;
	background-color:#eee;
}
.sorting-area .right-box .layout-btns button:first-child .text:after {display:none;}
.sorting-area .right-box .layout-btns button:hover .text {color:#666;}/* hover */
.sorting-area .right-box .layout-btns button:hover .text:before {opacity:.5;}/* hover */
.sorting-area .right-box .layout-btns button.on .text {color:#333; cursor:default;}/* on */
.sorting-area .right-box .layout-btns button.on .text:before {opacity:1;}/* on */

/* 페이징 */
.paging {
	margin:30px 50px 0;
	font-size:0;
	text-align:center;
	line-height:0;
}
.paging a {
	display:inline-block;
	width:30px;
	height:30px;
	margin-left:5px;
	box-sizing:border-box;
	vertical-align:top;
}
.paging a:first-child {margin-left:0;}
.paging .page {
	border:1px solid #fff;
	background-color:#fff;
	color:#666;
	font-size:13px;
	text-align:center;
	line-height:28px;
}
.paging .page:hover,
.paging .page.fColor {border-color:#ccc;}/* on */
.paging .btn {
	background-image:url(../img/btn/btn_pageing.png);
	background-repeat:no-repeat;
}
.paging .btn.first {background-position:0 0;}
.paging .btn.prev {background-position:0 -30px;margin-right:7px;}
.paging .btn.next {background-position:0 -60px;margin-left:12px;}
.paging .btn.end {background-position:0 -90px;}

/* 날짜 선택 영역 */
.date-text {
	display:inline-block;
	position:relative;
	width:160px;
	background-color:#fff;
}
.date-text:before {
	content:'';
	position:absolute;
	right:14px;top:50%;
	width:14px;
	height:14px;
	margin-top:-8px;
	background:url(../img/btn/btn_calendar.png) no-repeat 0 0;
	opacity:.6;
}
.date-text.on:before {opacity:1;}
.date-text input[type=text] {
	width:100%;
	padding-right:35px;
	background-color:transparent;
}
.date-area:after,
.date-area .date-select:after {
	content:'';
	display:block;
	clear:both;
}
.date-area .date-check,
.date-area .date-text,
.date-area .date-select {
	float:left;
	vertical-align:middle;
}
.date-area .date-check {margin-top:6px;}
.date-area .date-check + .date-text {margin-left:20px;}
.date-area select {width:90px;}
.date-area .selectWrap {
	float:left;
	width:90px !important;
	margin-left:10px;
}

/* 데이트피커 */
.date-text {
	position:relative;
	z-index:100;
}
.calendar-layer {
	display:none;
	position:absolute;
	left:0; top:34px;
	z-index:100;
	width:310px;
	padding:0 16px 15px;
	border-width:1px;
	border-style:solid;
	box-shadow:3px 4px 4px rgba(0,0,0,.1);
	background-color:#fff;
}
.calendar-layer .hasDatepicker {}
.calendar-layer .hasDatepicker .ui-datepicker-header {
	position:relative;
	height:50px;
	text-align:center;
}

.calendar-layer .hasDatepicker .ui-datepicker-title {
	display:inline-block;
	overflow:hidden;
	padding-top:15px;
}
.calendar-layer .hasDatepicker .ui-datepicker-title select {
	float:right;
	height:28px;
	margin-right:10px;
	padding-left:10px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	font-size:12px;
	line-height:26px;
}
.calendar-layer .hasDatepicker .ui-datepicker-title select:first-child {margin-right:0;}
.calendar-layer .hasDatepicker .ui-datepicker-title .ui-datepicker-month {width:60px;}
.calendar-layer .hasDatepicker .ui-datepicker-title .ui-datepicker-year {width:75px;}

.calendar-layer .hasDatepicker .ui-datepicker-header .ui-corner-all {
	position:absolute;
	top:15px;
}
.calendar-layer .hasDatepicker .ui-datepicker-header .ui-corner-all .ui-icon {
	display:block;
	width:30px;
	height:28px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.calendar-layer .hasDatepicker .ui-datepicker-prev {left:2px;}
.calendar-layer .hasDatepicker .ui-datepicker-next {right:2px;}
.calendar-layer .hasDatepicker .ui-datepicker-prev .ui-icon {background-image:url(../img/btn/btn_date_prev.png);}
.calendar-layer .hasDatepicker .ui-datepicker-next .ui-icon {background-image:url(../img/btn/btn_date_next.png);}

.calendar-layer .hasDatepicker .ui-datepicker-calendar {}
.calendar-layer .hasDatepicker .ui-datepicker-calendar th,
.calendar-layer .hasDatepicker .ui-datepicker-calendar td {
	font-size:12px;
	text-align:center;
	height:auto;
	padding:0;
	border:0;
}
.calendar-layer .hasDatepicker .ui-datepicker-calendar th {
	height:34px;
	color:#333;
}
.calendar-layer .hasDatepicker .ui-datepicker-calendar td a {
	display:block;
	height:28px;
	line-height:28px;
}
.calendar-layer .hasDatepicker .ui-datepicker-calendar td.ui-datepicker-week-end a {color:#ff0000;}
.calendar-layer .hasDatepicker .ui-datepicker-calendar td .ui-state-active {background-color:#eee; color:#333;}

.calendar-layer .hasDatepicker .ui-datepicker-calendar tr.over td a {background-color:#e0f1ff ;}
.calendar-layer .hasDatepicker .ui-datepicker-calendar tr.over td:first-child a {background-color:#fff;}
.calendar-layer .hasDatepicker .ui-datepicker-calendar tr.over td:first-child a.ui-state-active {background-color:#eee;}
.calendar-layer .hasDatepicker .ui-datepicker-calendar tr.overNext td:first-child a {background-color:#e0f1ff ;}

.week-setting-box {
	position:relative;
	width:324px;
	padding:0 66px 0 28px;
	box-sizing:border-box;
	text-align:center;
	margin:0 auto;
}
.week-setting-box .btn-arr,
.week-setting-box .btn-calendar {
	position:absolute;
	top:0;
	width:28px;
	height:28px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
	cursor:pointer;
}
.week-setting-box .btn-prev {
	left:0;
	background-image:url(../img/btn/btn_prev02.png);
}
.week-setting-box .btn-next {
	right:38px;
	background-image:url(../img/btn/btn_next02.png);
}
.week-setting-box .btn-calendar {
	right:0;
	background-image:url(../img/btn/btn_calendar.png);
	opacity:.6;
}
.week-setting-box.on .btn-calendar {opacity:1;}
.week-setting-box .week-text {
	color:#333;
	font-size:16px;
	font-weight:700;
	text-align:center;
	line-height:28px;
}
.week-setting-box .calendar-layer {
	top:27px;
	left:296px;
}

/* 공유 범위 영역 */
.share-box {
	position:relative;
	margin-top:15px;
	padding-bottom:68px;
	border:1px solid #e5e5e5;
}
.share-box .btn-groupchart {
	position:absolute;
	left:20px; bottom:20px;
}
.share-box .btn-groupchart .btn {
	width:38px;
	height:38px;
	background:url(../img/btn/btn_groupchart.png) no-repeat 0 0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
	opacity:.6;
}
.share-box .btn-groupchart .tooltip {
	display:none;
	position:absolute;
	left:47px; top:50%;
	width:58px;
	height:28px;
	margin-top:-15px;
	padding:0 0 3px 6px;
	background:url(../img/bg/bg_tooltip.png) no-repeat 0 0;
	color:#666;
	font-size:12px;
	text-align:center;
	line-height:28px;
}
.share-box .btn-groupchart:hover .btn {opacity:1;}
.share-box .btn-groupchart:hover .tooltip {display:block;}
.share-box .scroll-area {
	overflow-y:scroll;
	height:122px;
	padding:10px 0;
	box-sizing:border-box;
}
.share-box .scroll-area .user-box {
	position:relative;
	padding:0 20px;
}
.share-box .scroll-area .user-box:hover {background-color:#fafafa;}/* hover */
.share-box .scroll-area .user-box .text {
	padding:6px 0;
	color:#333;
	line-height:20px;
}
.share-box .scroll-area .user-box .btn-del {
	position:absolute;
	right:7px; top:50%;
	width:34px;
	height:34px;
	margin-top:-17px;
	background:url(../img/btn/btn_del.png) no-repeat 50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}

/* 파일첨부 영역 */
.addfind-cont {
	position:relative;
	margin-top:-1px;
	border:1px solid #e5e5e5;
}
.addfind-cont .title-area {
	overflow:hidden;
	height:44px;
	padding:0 20px;
	border-bottom:1px solid #e5e5e5;
	background-color:#fafafa;
	color:#333;
	font-weight:700;
	line-height:44px;
}
.addfind-cont .title-area .left,
.addfind-cont .addfile-list .addfile-item .file-name,
.addfind-cont .foot-info .btn-text {
	float:left;
}
.addfind-cont .title-area .right,
.addfind-cont .addfile-list .addfile-item .volume-state,
.addfind-cont .foot-info .text-area {
	overflow:hidden;
	float:right;
}
.addfind-cont .title-area .right .title,
.addfind-cont .addfile-list .addfile-item .volume-state .text,
.addfind-cont .foot-info .text-area .text {
	float:left;
	width:144px;
	padding-right:30px;
	text-align:right;
}
.addfind-cont .title-area .right .title:first-child,
.addfind-cont .addfile-list .addfile-item .volume-state .text:first-child,
.addfind-cont .foot-info .text-area .text:first-child {width:auto;}
.addfind-cont .addfile-list {padding:8px 0;}
.addfind-cont .addfile-list .addfile-item {
	overflow:hidden;
	position:relative;
	padding:0 20px;
	color:#333;
	line-height:35px ;
}
.addfind-cont .addfile-list .addfile-item .volume-state .text,
.addfind-cont .foot-info .text-area .text {color:#999;}
.addfind-cont .addfile-list .addfile-item .btn-del {
	position: absolute;
	right: 7px;
	top: 50%;
	width: 34px;
	height: 34px;
	margin-top: -17px;
	background: url(../img/btn/btn_del.png) no-repeat 50% 50%;
	font-size: 0;
	text-indent: -9999px;
	line-height:0;
}
.addfind-cont .foot-info {
	overflow:hidden;
	padding:10px 20px;
	border-top:1px solid #f5f5f5;
	height:28px;
	line-height:28px;
}

/* 썸네일 */
.thumb-list1 {margin-top:40px}
.thumb-list1 > ul {overflow: hidden; margin:-30px 0 0 -30px;}
.thumb-list1 > ul > li {
	position:relative;
	float:left;
	width:300px;
	padding:30px 0 0 30px;
	box-sizing: border-box;
}
.thumb-list1 ul li a {
	display: block;
	position:relative;
	height: 353px;
	border:1px solid #eee;
	box-sizing: border-box;
}
.thumb-list1 ul li a:hover {
	background-color: #fafafa;
	border:1px solid #bbb;
}
.thumb-list1 ul li a:hover .tit {text-decoration: underline;}
.thumb-list1 .txt-area {
	width:100%;
	height:115px;
	padding:25px 25px 0 25px;
	box-sizing: border-box;
}
.thumb-list1 .txt-area .num {display: none;}
.thumb-list1 .txt-area .title {
	position:relative;
	padding-right: 20px;
}
.thumb-list1 .txt-area .title .tit {
	display: inline-block;
	max-width: 100%;
	padding-left:25px;
	overflow: hidden;
	font-weight: 700;
	white-space:nowrap;
	text-overflow:ellipsis;
	box-sizing: border-box;
}
.thumb-list1 .txt-area .title .reply {
	position:absolute;
	padding-left:3px;
}
.thumb-list1 .txt-area p .checkWrap {
	position:absolute;
	left:0; top:0;
	vertical-align: middle;
}
.thumb-list1 .txt-area .cont {
	overflow: hidden;
	height: 60px;
	margin-top: 3px;
	color:#666;
	line-height: 20px;
}
.thumb-list1 .info-area {
	margin-top:14px;
	padding:0 25px ;
}
.thumb-list1 .info-area ul {overflow: hidden}
.thumb-list1 .info-area li {float: left;}
.thumb-list1 .info-area li span {
	position: relative;
	padding-right:10px;
	margin-right:10px;
}
.thumb-list1 .info-area li span:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 1px;
	height: 11px;
	margin-top: -5px;
	background-color:#eee;
}
.thumb-list1 .info-area .left .right {}
.thumb-list1 .info-area p,
.thumb-list1 .info-area li span {
	font-size: 12px;
	color:#999
}
.thumb-list1 .info-area .left .name {display: block;}
.thumb-list1 .info-area .right .ico-file {display: none;}
.thumb-list1 .info-area .right .like:before {content: none;}
.thumb-list1 .info-area span em {padding-right:2px}

.thumb-list1 .img-area {
	position: absolute;
	left:-1px;right:-1px;bottom:-1px;
	height: 160px;
	font-size: 0;
	overflow: hidden;
}
.thumb-list1 .img-area img {width: 100%; height: 100%;}

/* ===========================================================================
	공지사항 리스트
=========================================================================== */
/* 공통 */
.list-view {
	position:relative;
	margin:0 50px;
}
.list-view:after {
	content:'';
	display:block;
	clear:both;
}
.list-view.layoyt1 .scroll-design {height:auto !important;}

.list-view .list-left,
.list-view .view-type {width:100%;}
.list-view .list-left {
	float:left;
	box-sizing:border-box;
}
.list-view .view-type {
	overflow:hidden;
	float:right;
	box-sizing:border-box;
}
.list-view .thumb-type,
.list-view .view-type {display:none;}

/* 구분선 */
.list-view .hr-bar {
	display:none;
	position:absolute;
	background-color:#e5e5e5;
}
.list-view .hr-bar:before {
	content:'';
	position:absolute;
	background-color:#ccc;
}

.list-view.layoyt1 .view-type {display:none;}

/* 좌우보기 */
.layoyt2.list-view {margin-top:20px;}
.layoyt2.list-view .board-list1 {border-top:1px solid #eee !important;}

.layoyt2.list-view .hr-bar {display:block;left:50%; top:0; bottom:0; width:6px;}
.layoyt2.list-view .hr-bar:before {
	top:50%;
	width:100%;
	height:50px;
	margin-top:-25px;
}
.layoyt2.list-view .list-left,
.layoyt2.list-view .view-type {width:48%;}

.layoyt2.list-view .list-left {
	overflow:auto;
	padding:0 20px 20px 0;
	height:850px;
}
.layoyt2.list-view .list-left .scrollbox-area {min-width:700px;}

.layoyt2.list-view .thumb-list1 {margin:20px 0;}

.layoyt2.list-view .view-type {
	display:block;
	overflow:auto;
	max-height:850px;
	padding:0 20px 20px;
}
.layoyt2.list-view .view-type .scrollbox-area {min-width:500px;}
.layoyt2.list-view .view-type .scrollbox-area .board-view .right,
.layoyt2.list-view .view-type .scrollbox-area .board-view1,
.layoyt2.list-view .view-type .scrollbox-area .reply-wrap,
.layoyt2.list-view .view-type .scrollbox-area .page-wrap {margin-left:0;margin-right:0;}

.layoyt2.list-view .view-type .scrollbox-area .btn-wrap {margin:20px 0 0;}
.layoyt2.list-view .view-type .scrollbox-area .btn-wrap .btn-text {margin-top:10px;}

/* 상하 보기 */
.layoyt3.list-view .hr-bar {display:block; left:0; right:0; top:50%;height:6px;}
.layoyt3.list-view .hr-bar:before {
	left:50%; top:0;
	width:50px;
	height:100%;
	margin-left:-25px;
}

.layoyt3.list-view .thumb-list1 {margin:20px 0;}
.layoyt3.list-view .view-type {display:block;}

.layoyt3.list-view .list-left,
.layoyt3.list-view .view-type {
	overflow-y:auto;
	width:100%;
	height:400px;
}
.layoyt3.list-view .view-type {height:415px;}
.layoyt3.list-view .list-left {margin:20px 0;}
.layoyt3.list-view .list-left .board-list1 {border-top:1px solid #eee;}
.layoyt3.list-view .view-type {margin-top:26px;}

.layoyt3.list-view .view-type .scrollbox-area .board-view .right,
.layoyt3.list-view .view-type .scrollbox-area .board-view1,
.layoyt3.list-view .view-type .scrollbox-area .reply-wrap,
.layoyt3.list-view .view-type .scrollbox-area .page-wrap {margin-left:0;margin-right:0;}

.layoyt3.list-view .view-type .scrollbox-area .btn-wrap {margin:20px 20px 0;}
.layoyt3.list-view .view-type .scrollbox-area .btn-wrap .btn-text {margin-top:10px;}
.layoyt3.list-view .tit-wrap .right .tooltip {left:inherit; right: 0;}

/* ===========================================================================
	워크스페이스
=========================================================================== */
/***공통*/
/*검색박스*/
.top-search-box2 {
	margin-top: -44px;
	padding:47px 0 60px;
	background-color:#f9fafb;
	text-align:center;
}
.top-search-box2 p {font-size: 20px; margin-bottom:20px;}
.top-search-box2 p span {
	position: relative;
	display: inline-block;
	padding-left:50px;
	line-height: 44px;
	color: #333;
}
.top-search-box2 p span:before {
	content: '';
	position:absolute;
	left: 0;
	top: 50%;
	width: 44px;
	height: 42px;
	margin-top:-21px;
	background: url(../img/ico/ico_work_search_tit.png) no-repeat 0 0;
}
.top-search-box2 p em {font-weight: 700;}
.top-search-box2 .selectWrap {}
.top-search-box2 .search-text {
	display: inline-block;
	position:relative;
	width:464px;
	padding-right:53px;
}
.top-search-box2 .search-text input[type=text] {
	width:100%;
	height: 45px;
}
.top-search-box2 .search-text .btn-search {
	position:absolute;
	right:0; top:0; bottom:0;
	width:54px;
	background:#9da4ac url(../img/btn/btn_search02.png) no-repeat 50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
/*info 아이콘*/
.work-info {
	overflow: hidden;
	margin-bottom:18px;
}
.work-info li {
	position: relative;
	float: left;
	font-size: 13px;
	color: #333;
	margin-left: 10px;
	padding-left: 10px;
}
.work-info li:first-child {
	margin-left: 0;
	padding-left: 0
}
.work-info li:before {
	content: '';
  width: 1px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  background-color: #eee;
}
.work-info li:first-child:before {display: none;}
 .work-info li span {
	color:#666;
}
.work-info .info1 span {
	background:url(../img/ico/ico_work_main1.png) no-repeat 0 50%;
	padding:0 12px 0 25px;
}
.work-info .info2 span{
	background:url(../img/ico/ico_work_main2.png) no-repeat 0 50%;
	padding:0 12px 0 16px;
}

.workspace-area {
	overflow: hidden;
	margin:40px 50px 0 50px;
}

/* 서브메인  */
.slide-area .slider1 {
	position: relative;
	padding:30px;
	border-top: 2px solid #ff8d86;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	background-color:#fafafa;
}
.slide-area .slider1 .item {
	position: relative;
}
.slide-area .slider1 .main-tit {
	padding-bottom:23px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
}
.slide-area .slider1 .item .img-area {font-size: 0}
.slide-area .slider1 .item .txt-area {
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 165px;
}
.slide-area .slider1 .item .txt-area .tit {
	margin-bottom: 11px;
	font-size: 16px;
	color: #333;
}
.slide-area .slider1 .item .txt-area .cont {
	overflow: hidden;
	height: 42px;
	font-size: 14px;
	margin-bottom: 8px;
}

.slide-area .slider1 .bx-pager {
		position:absolute;
		right:30px; top:35px;
		z-index:5;
		font-size:0;
		line-height:0;
		z-index: 100;
	}
.slide-area .slider1 .bx-pager-item {
	display:inline-block;
	text-indent:-9999px;
}
.slide-area .slider1 .bx-pager-item a {
	display:block;
	position:relative;
	width:20px;
	height:20px;
}
.slide-area .slider1 .bx-pager-item a:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:10px;
	height:10px;
	margin:-5px 0 0 -5px;
	border-radius:50%;
	background-color:#bbb;
}
.slide-area .slider1 .bx-pager-item a.active:before {background-color:#333;}
.slide-area .slider1 .bx-controls-direction {display:none;}

.box-area  {
	margin: 40px 0;
	padding:30px 0;
	border:1px solid #e5e5e5;
}
.box-area  ul  {overflow: hidden;}
.box-area  ul li {
	float: left;
	width: 33.3%;
	padding:0 30px;
	border-left:1px solid #e5e5e5;
	box-sizing: border-box;
}
.box-area  ul li:first-child {width: 33.4%; border-left: 0;}
.box-area  ul li .tit {
	margin-bottom: 13px;
	font-weight: 700;
	color: #333;
	font-size:14px;
}
.box-area  ul li .tit span {font-weight: normal}
.box-area  ul li .cont {
	overflow: hidden;
	height: 57px;
	margin-bottom: 27px;
}


/*서브메인2*/
.top-info {
	margin: 0 50px;
	padding:20px;
	border:1px solid #eee;
	background-color:#fafafa;
}
.top-info .work-info {margin-bottom: 0;}
.top-info .work-info li {
	color:#333;
	font-weight: 700;
	padding-left: 15px;
	margin-left:15px;
}
.top-info .work-info li:first-child {
	margin-left: 0;
	padding-left: 0;
}
.top-info .work-info li span {font-weight: normal}
.top-info .work-info li .txt {
	color:#666;
	background-image: none;
	padding-left: 0;
	margin-left: 3px;
}
.top-info .work-info li .txt em{color:#333;}

.workspace-area .left,
.workspace-area .right {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.workspace-area .left {padding-right:20px;}
.workspace-area .right {padding-left: 20px;}

.table-area {position:relative;}
.workspace-area .left .table-area .board-wrap {border-top: 0;}
.workspace-area .left .table-area:first-child .board-wrap{border-top:1px solid #eee;}
.table-area .board-wrap {}
.table-area .title {
	padding-bottom:15px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
}
.table-area .board-wrap .no-data {
	text-align: center;
	padding:70px 0;
}
.table-area .board-wrap {
	padding:20px 0;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	box-sizing: border-box;
}
.board-wrap .main-cont {position: relative;}
.board-wrap .img-area {
	overflow:hidden;
	width:65px;
	height:65px;
	position:absolute;
	left:0;
	top: 0;
	border-radius:50%;
	font-size:0;
	line-height:0;
}
.board-wrap .img-area img {width: 100%;}
.board-wrap .text-area {padding-left:80px;}
.board-wrap .text-area .tit {
	max-width: 100%;
	overflow: hidden;
	padding-right:20px;
	margin-bottom:10px;
	font-weight: 700;
	color:#333;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.board-wrap .text-area .tit .catogory {
	display: inline-block;
	padding:3px 5px;
	margin-right:10px;
	background-color: #f5f5f5;
	color:#666;
	font-size: 12px;
}
.board-wrap .text-area  .info .name {color:#333; padding-right:10px;}
.board-wrap .text-area  .info .date {color:#999;}
.board-wrap .text-area  .info-list {
	overflow: hidden;
	margin-top: 4px;
}
.board-wrap .text-area  .info-list li {
	position: relative;
	float: left;
	font-size: 12px;
	color:#999;
	margin-left: 10px;
	padding-left: 10px;
}
.board-wrap .text-area  .info-list li:first-child {
	margin-left: 0;
	padding-left: 0;
}
.board-wrap .text-area  .info-list li:before {
	content: '';
	width: 1px;
	height: 11px;
	position: absolute;
	left: 0; top:50%;
	margin-top:-5px;
	background-color: #eee;
}
.board-wrap .text-area  .info-list li:first-child:before {display: none;}
.board-wrap .text-area  .info-list li em {
	margin-left:2px;color: #333;
	vertical-align: top
}

.board-wrap .reply-list {
	position: relative;
	margin-top: 15px;
	background-color: #fafafa;
}
.board-wrap .reply-list li {
	position: relative;
	padding:20px 0 15px 0;
	margin:0 15px;
	border-top: 1px solid #eee;
}
.board-wrap .reply-list li:first-child {border-top: 0}
.board-wrap .reply-list .img-area {
	width: 40px;
	height: 40px;
	top: 20px;
}
.board-wrap .reply-list .txt-area {
	padding-left:60px;
}
.board-wrap .reply-list .txt-area .name {
	margin-bottom:2px;
	color: #333;
}
.board-wrap .reply-list .txt-area .info span:first-child {margin-right:4px;}
.board-wrap .reply-list .txt-area .info span {
	font-size: 12px;
	color:#999;
}
.board-wrap .reply-list .txt-area .btn-del {
	position: absolute;
	right:0;
	top: 20px;
	color:#999;
}
.board-wrap .reply-list.type2 .cont {
	margin-bottom: 2px;
	padding-right:25px;
}
.board-wrap .reply-list.type2 .name {
	display: inline-block;
	margin-right: 15px;
}
.board-wrap .reply-list.type2 .info {display: inline-block;}
.board-wrap .reply-list .reply-box {
	position: relative;
	margin-top: 20px;
}
.board-wrap .reply-list .reply-box  .input-area {
	width: 100%;
	padding-right:53px;
	box-sizing: border-box;
}
.board-wrap .reply-list .reply-box .input-area input {
	width: 100%;
	height: 28px;
}
.board-wrap .reply-list .reply-box .btn-area {
	position: absolute;
	right: 0; top:0;
}
.board-wrap .reply-list .reply-box .btn-area .btn-text.sm {line-height: 26px;}

.workspace-area .right .board-wrap {
	border-top: 1px solid #eee;
  border-bottom:0
}
.workspace-area .right .table-area {margin-top: 13px;}
.workspace-area .right .table-area:first-child {margin-top: 0}
.workspace-area .right .table-area .btn-more {
	position: absolute;
	right: 0;
	top:0;
	padding-right: 12px;
	color: #999;
}
.workspace-area .right .table-area .btn-more:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 4px;
	height: 7px;
	margin-top: -3px;
	background:url(../img/ico/ico_go.png) no-repeat 0 0;
}
.table-area .noty-list li {
	overflow: hidden;
	position: relative;
	max-width: 100%;
	margin-top: 14px;
	padding-right:110px;
	box-sizing: border-box;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.table-area .noty-list li:first-child {margin-top: 0}
.table-area .noty-list li span {
	position: absolute;
	right: 0;
}

.workspace-area .right .tabArea .tab-list1 {
	margin: 0;
	border-bottom:0
}
.workspace-area .right .tabArea .tab-list1 .item {
	width: 50%;
	background-color:#fafafa;
}
.workspace-area .right .tabArea .tab-list1 .item:first-child span {border-left: 0;}
.workspace-area .right .tabArea .tab-list1 .item:first-child span em {padding-left:25px}
.workspace-area .right .tabArea .tab-list1 .item:last-child span {border-right: 0;}
.workspace-area .right .tabArea .tab-list1 .item span {color:#000;}
@media only screen and (max-width: 895px) {
	.workspace-area .right .tabArea .tab-list1 .item span {font-size: 12px;}
}

.workspace-area .right .tabArea .tab-list1 .item .text em {
	position: relative;
	padding-left:20px;
}
.workspace-area .right .tabArea .tab-list1 .item .text em:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 14px;
	margin-top: -7px;
}
.workspace-area .right .tabArea .tab-list1 .item:first-child .text em:before {
	width: 14px;
	background:url(../img/ico/ico_work_main3.png) no-repeat 50% 0;
}
.workspace-area .right .tabArea .tab-list1 .item:last-child .text em:before {
	width: 10px;
	background:url(../img/ico/ico_work_main4.png) no-repeat 50% 0;
}

.workspace-area .right .tabArea .tabContent {
	overflow: hidden;
	margin: 0
}
.workspace-area .right .tabArea .tabCont {
	display: block;
	width: 50%;
	float: left;
	padding: 20px;
	border-bottom:1px solid #eee;
	box-sizing: border-box;
}
.workspace-area .right .tabArea .tabCont:first-child {border-right:1px solid #eee; }
.workspace-area .right .tabArea .tabCont  ul li {overflow: hidden; margin-bottom:13px;}
.workspace-area .right .tabArea .tabCont  ul li.today span {color:#333}
.workspace-area .right .tabArea .tabCont  ul li span {float: right; color:#999}


/* 주간보고 */
.week-content {
	position:relative;
	margin:0 50px;
	padding:0 285px 30px 0;
}
.week-content .week-box {
	width:100%;
	margin-top:12px;
}
.week-content .week-box.right {
	position:absolute;
	right:0;top:0;
	width:270px;
	padding-top:28px;
}
.week-content .title-area {
	height:53px;
	background-color:#fafafa;
	border:1px solid #eee;
}
.week-content .title-area .title {
	color:#333;
	font-size:14px;
	text-align:center;
	line-height:53px;
}
.week-content .box-list {border:1px solid #eee;border-top:0;}
.week-content .box-list .box-item {
	position:relative;
	padding:20px;
	border-top:1px solid #eee;
	line-height:19px;
}
.week-content .box-list .box-item:first-child {border-top:0;}
.week-content .box-list .box-item .btn-text {
	position:absolute;
	right:20px; top:50%;
	margin-top:-14px;
}

.week-content .box-list .box-item .check-item {margin-top:9px;line-height:18px;}
.week-content .box-list .box-item .check-item:first-child {margin-top:0;}

.week-content .week-box .btn-wrap {margin:15px 0 0;}

.week-content .week-box.right .box-list .box-item .btn-icon-text {
	width:100%;
	margin:15px 0 5px;
}