/*
	max-width: 800px (800 이하)
*/

/* ===========================================================================
	레이아웃
=========================================================================== */
.container {padding:46px 0 0;}
.content {margin:-25px 0 0; padding-bottom:30px;}

/* 모바일에서 숨김처리 */
.mHide {display:none !important;}

/* ===========================================================================
	폼요소
=========================================================================== */
/* 인풋 텍스트 */
input[type=text] {
	width:100% !important;
	height:34px;
	padding:0 10px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	line-height:34px;
}
label {vertical-align:middle;}
input[type=text] + .form-box {margin-top:8px;}

textarea {
	padding:20px;
	border:1px solid #e5e5e5;
	box-sizing: border-box;
	resize: none;
}


/* 체크박스/라디오박스 */
input[type=checkbox].styled1,
input[type=radio].styled1 {
	width:21px;
	height:21px;
	box-sizing:border-box;
}
.checkWrap,
.radioWrap {
	display:inline-block;
	position:relative;
	width:21px;
	height:21px;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:21px 43px;
	vertical-align:middle;
}
.checkWrap {background-image:url(../img/mobile/ico/form_checked.png);}
.radioWrap {background-image:url(../img/mobile/ico/form_radio.png);}
.checkWrap.checked,
.radioWrap.checked {background-position:0 -22px;}
.checkWrap input[type=checkbox].styled1,
.radioWrap input[type=radio].styled1 {
	position:absolute;
	left:0; top:0;
	opacity:0;
}
.checkWrap + label,
.radioWrap + label {margin-left:5px;}

label + .checkWrap,
label + .radioWrap {margin-left:10px;}

/* 셀렉트 박스 */
select.styled1 {
	height:34px;
	line-height:34px;
}
.selectWrap {
	display:inline-block;
	position:relative;
	height:34px;
	box-sizing:border-box;
	vertical-align:middle;
}
.selectWrap select.styled1 {
	position:absolute;
	left:0; top:0;
	opacity:0;
}
.selectWrap .selTitle {
	overflow:hidden;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	padding:0 25px 0 10px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	text-overflow:ellipsis;
	line-height:32px;
	white-space:nowrap;
}
.selectWrap .selTitle:before {
	content:'';
	position:absolute;
	right:9px; top:50%;
	width:9px;
	height:6px;
	margin-top:-3px;
	background-image:url(../img/mobile/ico/ico_arr_down01.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:9px 13px;
}
.selectWrap .selTitle.bdColor:before {background-position:0 -7px;}

/* ===========================================================================
	버튼
=========================================================================== */
/*
	텍스트 버튼
*/
/* 공통 */
.btn-text {
	display:inline-block;
	width:100%;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	color:#666;
	font-size:14px;
	text-align:center;
	line-height:38px;
}

/* small */
.btn-text.sm {
	width:auto;
	padding:0 10px;
	font-size:11px;
	line-height:28px;
}

/* 정렬 */
.btn-wrap {margin:30px 10px 0;}
.btn-wrap .btn-align {
	overflow:hidden;
	margin:10px 0 0;
}
.btn-wrap .btn-align:first-child {margin-top:0;}
.btn-wrap .btn-align .btn-item {
	float:left;
	padding:0 5px;
	box-sizing:border-box;
}

/*
	아이콘 + 텍스트 버튼
*/
/* 공통 */
.btn-icon-text {
	display:inline-block;
}
.btn-icon-text .text {
	display:block;
	position:relative;
	height:35px;
	padding:0 15px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	background-color:#fff;
	line-height:33px;
	cursor:pointer;
}
.btn-icon-text .text:before {
	content:'';
	position:absolute;
	top:50%;
	background-repeat:no-repeat;
	background-position:0 0;
}
/* 01 */
.btn-icon-text.icon01 .text {padding-left:34px;}
.btn-icon-text.icon01 .text:before {
	left:14px;
	width:12px;
	height:9px;
	margin-top:-5px;
	background-image:url(../img/btn/btn_ico01.png);
}
.btn-icon-text.icon01.on .text {
	border-color:#888;
	color:#333;
}
.btn-icon-text.icon01.on .text:before {background-position:0 -9px;}

/* ===========================================================================
	탭스타일
=========================================================================== */
/* 01 */
.tab-list1 {
	overflow:hidden;
	margin:25px 20px 0;
}
.tab-list1 .item {float:left;}
.tab-list1 .item .text {
	display:block;
	height:40px;
	border:1px solid #e5e5e5;
	border-left:0;
	background-color:#fafafa;
	font-size:14px;
	text-align:center;
	line-height:38px;
}
.tab-list1 .item:first-child .text {border-left:1px solid #e5e5e5;}
.tab-list1 .item.fColor .text {
	border-bottom:0;
	background-color:#fff;
	font-weight:700;
}

/* ===========================================================================
	해더
=========================================================================== */
.header {
	position:fixed;
	left:0; right:0; top:0;
	z-index:100;
	height:45px;
	border-bottom:1px solid #e5e5e5;
	background-color:#fff;
}
.header .logo {
	left:10px; top:2px;
	width:165px;
}
.header .logo a {
	display:block;
	height:40px;
	background:url(../img/mobile/layout/site_logo.png) no-repeat 0 0;
	background-size:165px 40px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header.mobile .btn-search {
	position:absolute;
	top:0; right:45px;
	width:45px;
	height:45px;
	border-left:1px solid #e5e5e5;
	background-image:url(../img/mobile/btn/btn_search02.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:13px 13px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-gnb {
	display:block;
	position:absolute;
	right:0; top:0;
	width:45px;
	height:45px;
	border-left:1px solid #e5e5e5;
	background-image:url(../img/mobile/btn/btn_gnb.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:13px 9px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}

/* ===========================================================================
	버튼
=========================================================================== */
/*
	아이콘
*/
/* 공통 */
.btn-icon-text {display:inline-block;}
.btn-icon-text .text {
	display:block;
	position:relative;
	height:32px;
	padding:0 10px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	background-color:#fff;
	font-size:12px;
	line-height:30px;
	cursor:pointer;
}
.btn-icon-text .text:before {
	content:'';
	position:absolute;
	top:50%;
	background-repeat:no-repeat;
	background-position:0 0;
}
/* 01 */
.btn-icon-text.icon01 .text {padding-left:28px;}
.btn-icon-text.icon01 .text:before {
	left:10px;
	width:12px;
	height:9px;
	margin-top:-5px;
	background-image:url(../img/mobile/btn/btn_ico01.png);
	background-size:12px 19px;
}
.btn-icon-text.icon01.on .text {
	border-color:#888;
	color:#333;
}
.btn-icon-text.icon01.on .text:before {background-position:0 -10px;}

/* ===========================================================================
	테이블
=========================================================================== */
/* 쓰기 테이블 */
.board-write1 {margin:0 20px;}
.board-write1 table {
	display:block;
	table-layout:inherit;
	box-sizing:border-box;
}
.board-write1 table tbody,
.board-write1 table tr {display:block;}
.board-write1 table tbody,
.board-write1 table tr,
.board-write1 table th,
.board-write1 table td {
	width:100%;
	box-sizing:border-box;
}
.board-write1 table tr {overflow:hidden;}
.board-write1 th,
.board-write1 td {float:left;}
.board-write1 th {
	margin-top:15px;
	color:#333;
	font-size:14px;
	text-align:left;
}
.board-write1 tr:first-child th {margin-top:0;}
.board-write1 td {margin-top:4px;}
.board-write1 .tr-floating th,
.board-write1 .tr-floating td {
	width:auto;
	margin-top:20px;
}
.board-write1 .tr-floating td {margin-left:10px;}
.board-write1 .text-notice {
	margin-top:6px;
	color:#999;
	font-size:11px;
}

/*보기 테이블*/
.board-view1 {
	margin:0 50px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.board-view1 > ul > li {
	width: 100%;
	padding:20px 10px;
	min-height: 55px;
	border-top:1px solid #eee;
	box-sizing: border-box;
}
.board-view1 > ul > li:first-child {border-top: none;}
.board-view1 .tit-wrap {position: relative;}
.board-view1 .tit-wrap:after {content: '';display: block; clear: both;}
.board-view1 .tit-wrap .left-box {position: relative;}
.board-view1 .tit-wrap .right-box {
	position: absolute;
	right: 10px;
	top:50%;
	margin-top: -18px;
}
.board-view1 .tit-wrap .left-box p {
	padding-right:250px;
	font-weight: 700;
	color: #333;
	font-size: 14px;
}

.board-view1 .info-wrap {overflow: hidden;}
.board-view1 .info-wrap .left-box {float:left;}
.board-view1 .info-wrap .left-box ul {overflow: hidden;}
.board-view1 .info-wrap .left-box ul li {
	position:relative;
	float: left;
	margin-left:12px;
	padding-left:12px;
	font-size: 12px;
}
.board-view1 .info-wrap .left-box ul li:first-child {
	margin-left: 0;
	padding-left: 0;
}
.board-view1 .info-wrap .left-box ul li:before {
	content: '';
	width: 1px;
	height: 11px;
	position: absolute;
	left: 0; top:50%;
	margin-top:-5px;
	background-color: #eee;
}
.board-view1 .info-wrap .left-box ul li:first-child:before {content: none;}
.board-view1 .info-wrap .right-box {float:right;}
.board-view1 .info-wrap .right-box button {
	position: relative;
	font-size: 12px;
	padding-right:15px;
}
.board-view1 .info-wrap .right-box button:before {
	content: '';
	width:7px;
	height:4px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-2px;
	background: url(../img/ico/ico_down.png) no-repeat 0 0;
}
.board-view1 .cont-wrap .cont {padding:15px 10px 30px 10px;}
.board-view1 .cont-wrap .cont img {max-width: 100%;}
.board-view1 .cont-wrap .tag-wrap {position: relative;}
.board-view1 .cont-wrap .tag-wrap .input-area {
	width: 100%;
	padding-right:100px;
	box-sizing: border-box;
}
.board-view1 .cont-wrap .tag-wrap .input-area input {
	width: 100%;
	height: 28px;
}
.board-view1 .cont-wrap .tag-wrap .btn-area {
	position: absolute;
	right: 0; top:0;
}
.board-view1 .cont-wrap .tag-wrap .bottom {
	position: relative;
	margin-top: 10px;
}
.board-view1 .cont-wrap .tag-wrap .bottom .tit {
	position:absolute;
	left:0; top:0;
	display: block;
	width: 40px;
	height: 28px;
	padding-right:3px;
	line-height: 28px;
	background-image: url(../img/bg/bg_tag.png);
	background-position: right top;
	background-repeat: no-repeat;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 28px;
	box-sizing: border-box;
}
.board-view1 .cont-wrap .tag-wrap .bottom .tag-list {
	overflow: hidden;
	padding-left:40px;
}
.board-view1 .cont-wrap .tag-wrap .bottom .tag-list span {
	position: relative;
	float:left;
	display: inline-block;
	padding:0 24px 0 10px;
	margin-left:6px;
	margin-bottom:6px;
	background-color:#fafafa;
	color:#888;
	font-size: 12px;
	text-align: center;
	line-height:28px;
}
.board-view1 .cont-wrap .tag-wrap .bottom .tag-list span .btn-del {
	width: 23px;
	height: 28px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -14px;
	background: url(../img/btn/btn_del.gif) no-repeat 50% 50%;
	font-size: 0;
	text-indent: -9999px;
	line-height: 0;
}

.reply-wrap {
	margin:40px 0 30px 0;
	padding:40px 0 30px 0;
	background-color: #fafafa;
}
.reply-wrap .tit {font-size: 14px; font-weight: 700;}
.reply-wrap .input-area {
	position: relative;
	margin-top: 15px;
}
.reply-wrap .input-area .text-wrap {
	width: 100%;
	height: 90px;

	box-sizing: border-box;
}
.reply-wrap .input-area textarea {width: 100%; height: 100%;}
.reply-wrap .input-area .btn-area {
margin-top: -1px;
}
.reply-wrap .input-area .btn-area.type2 {
	overflow: hidden;
	padding-left:53px;
}
.reply-wrap .input-area .btn-area .btn-save {
	width:100%;
	height: 35px;
	border:1px solid #e5e5e5;
	background-color: #fff;
	color: #666;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	line-height:33px;
}
.reply-wrap .reply-list {overflow: hidden;}
.reply-wrap .reply-list > ul > li {
	padding:20px 0;
	border-top:1px solid #eee;
}
.reply-wrap .reply-list li:first-child {border-top:none}
.reply-wrap .reply-list .user {
	float:none;
	display: inline-block;
	margin-bottom: -10px;
}
.reply-wrap .reply-list .user:after {
	content:'';
	display:block;
	clear:both;
}
.reply-wrap .reply-list .img-area {
	overflow:hidden;
	float:left;
	width:34px;
	height:34px;
	border-radius:50%;
	font-size:0;
	line-height:0;
}
.reply-wrap .reply-list .img-area img {width: 100%; height: 100%;}
.reply-wrap .reply-list .name {
	float:left;
	margin-left:20px;
	font-size: 13px;
	color: #333;
	font-weight: 700;
	line-height:34px;
}
.reply-wrap .reply-list .info-wrap {
	position:relative;
	margin-bottom: 15px;
}
.reply-wrap .reply-list .info-wrap .info-list {position: static;}
.reply-wrap .reply-list .info-wrap .info-list .date {padding-left:55px;}
.reply-wrap .reply-list .info-wrap .info-list ul {
	overflow: hidden;
	position:absolute;
	right:0; top: 0;
}
.reply-wrap .reply-list .info-wrap .info-list li {
	position: relative;
	float: left;
	margin-left:12px;
	padding-left:12px;
	line-height: inherit;
	color:#999;
}
.reply-wrap .reply-list .info-wrap .info-list li:before {
	content: '';
	width: 1px;
	height: 11px;
	position: absolute;
	left: 0; top:50%;
	margin-top:-5px;
	background-color: #eee;
}
.reply-wrap .reply-list .info-wrap .info-list li button {color:#999}
.reply-wrap .reply-list .input-area {margin-top: 0}
.reply-wrap .reply-list .input-area .text-wrap {
	padding-left:53px;
}
.reply-wrap .reply-list .input-area .text-wrap.type2{
	padding-right: 0;
	height: inherit;
}
.reply-wrap .reply-list .input-area .btn-area button {
	float:left;
	display: block;
	width:50%;
	height: 35px;
	border:1px solid #e5e5e5;
	background-color: #fff;
	color: #666;
	font-size: 14px;
	text-align: center;
	box-sizing: border-box;
	line-height:32px;
}
.reply-wrap .reply-list .input-area  .btn-area .btn-cancel {margin-bottom:10px; border-right: 0}
.page-wrap {
	border-bottom:1px solid #eee;
}
.page-wrap ul li {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding:20px 10px;
	border-top:1px solid #eee;
	box-sizing: border-box;
}
.page-wrap ul li span {

	color:#333;
}
.page-wrap ul li .tit {

}
.page-wrap ul li .cont {

}
.page-wrap ul li .name,
.page-wrap ul li .date {}
.page-wrap ul li .date {}

/* ===========================================================================
	컨텐츠
=========================================================================== */
/* 서브 공통 타이틀 영역 */
.title-wrap {padding:20px 20px 18px;}
.title-wrap .title {
	color:#000;
	font-size:16px;
}

/* 게시판 상단 소팅 영역 */
.sorting-area {
	position:relative;
	margin:0 20px;
	padding:10px 0;
	border-bottom:1px solid #eee;
}
.sorting-area:after {
	content:'';
	display:block;
	clear:both;
}
.sorting-area .left-box {
	position:absolute;
	left:0; top:0; bottom:0;
	padding:10px 0;
}
.sorting-area .left-box .all-len {
	font-size:12px;
	line-height:32px;
}
.sorting-area .right-box {float:right;}

/* 날짜 선택영역 */
.date-text {
	display:inline-block;
	width:100%;
	background:#fff url(../img/mobile/btn/btn_calendar.gif) no-repeat 100% 49%;
	background-size:20px 13px;
}
.date-text input[type=text] {
	width:100%;
	padding-right:35px;
	background-color:transparent;
}
.date-area {
	position:relative;
	height:34px;
	padding:0 160px 28px 0;
}
.date-area .date-check {
	position:absolute;
	left:0; bottom:0;
}
.date-area .date-text {

}
.date-area .date-select {
	position:absolute;
	right:0; top:0;
	width:160px;
	vertical-align:middle;
}
.date-area .date-select:after {
	content:'';
	display:block;
	clear:both;
}
.date-area .date-select .selectWrap {
	float:left;
	margin-left:5px;
}
.date-area select {width:75px;}

/* 공유 범위 영역 */
.share-box {
	position:relative;
	margin-top:10px;
	padding-bottom:52px;
	border:1px solid #e5e5e5;
}
.share-box .btn-groupchart {
	position:absolute;
	left:10px; bottom:10px;
}
.share-box .btn-groupchart .btn {
	width:32px;
	height:32px;
	background:url(../img/mobile/btn/btn_groupchart.png) no-repeat 0 0;
	background-size:32px 32px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.share-box .btn-groupchart .tooltip {display:none;}
.share-box .scroll-area .user-box {
	position:relative;
	padding:0 10px;
}
.share-box .scroll-area .user-box:hover {background-color:#fafafa;}/* hover */
.share-box .scroll-area .user-box .text {
	padding:7px 0;
	color:#333;
	line-height:20px;
}
.share-box .scroll-area .user-box .btn-del {
	position:absolute;
	right:0px; top:50%;
	width:28px;
	height:28px;
	margin-top:-14px;
	background:url(../img/mobile/btn/btn_del.gif) no-repeat 50% 50%;
	background-size:9px 9px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}

/* 파일첨부 영역 */
.addfind-cont {
	margin:-1px 20px 0;
	border:1px solid #e5e5e5;
}
.addfind-cont .addfile-list {
	padding:6px 0;
}
.addfind-cont .addfile-list .addfile-item {
	position:relative;
	margin-top:5px;
	padding:0 10px;
}
.addfind-cont .addfile-list .addfile-item:first-child {margin-top:0;}
.addfind-cont .addfile-list .addfile-item .file-name{}
.addfind-cont .addfile-list .addfile-item .volume-state {
	overflow:hidden;
}
.addfind-cont .addfile-list .addfile-item .volume-state .text {
	float:left;
	position:relative;
	padding-left:18px;
	color:#999;
	font-size:12px;
}
.addfind-cont .addfile-list .addfile-item .volume-state .text:before {
	content:'';
	position:absolute;
	left:8px;top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background-color:#eee;
}
.addfind-cont .addfile-list .addfile-item .volume-state .text:first-child {padding-left:0;}
.addfind-cont .addfile-list .addfile-item .volume-state .text:first-child:before {display:none;}
.addfind-cont .addfile-list .addfile-item .btn-del {
	position:absolute;
	right:0px; top:50%;
	width:28px;
	height:28px;
	margin-top:-14px;
	background:url(../img/mobile/btn/btn_del.gif) no-repeat 50% 50%;
	background-size:9px 9px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.addfind-cont .foot-info {
	position:relative;
	padding:10px 9px 10px 80px;
	border-top:1px solid #e5e5e5;
	text-align:right;
}
.addfind-cont .foot-info .btn-text {
	position:absolute;
	left:10px; top:10px;
}
.addfind-cont .foot-info .text-area {
	display:inline-block;
}
.addfind-cont .foot-info .text-area .text {
	display:inline-block;
	position:relative;
	padding-left:15px;
	color:#999;
	font-size:11px;
	line-height:30px;
}
.addfind-cont .foot-info .text-area .text:before {
	content:'';
	position:absolute;
	left:6px;top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background-color:#eee;
}
.addfind-cont .foot-info .text-area .text:first-child {padding-left:0;}
.addfind-cont .foot-info .text-area .text:first-child:before {display:none;}

/* 썸네일 */
.thumb-list1 {}
.thumb-list1 > ul {}
.thumb-list1 > ul > li {border-top:1px solid #e5e5e5;}
.thumb-list1 > ul > li a {
	display:block;
	position:relative;
	padding:20px 20px 42px;
	border-top:2px solid #fafafa;
}
.thumb-list1 > ul > li:first-child,
.thumb-list1 > ul > li:first-child a {border-top:0;}
.thumb-list1 > ul > li a .txt-area .num {
	display:inline-block;
	min-width:36px;
	height:26px;
	padding:0 6px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	font-size:12px;
	text-align:center;
	line-height:24px;
}
.thumb-list1 > ul > li a .txt-area .title {
	position:relative;
	padding-right:20px;
	margin-top:6px;
}
.thumb-list1 > ul > li a .txt-area .title .checkWrap {display:none;}
.thumb-list1 > ul > li a .txt-area .title .tit {
	display:inline-block;
	overflow:hidden;
	max-width:100%;
	padding-right:5px;
	box-sizing:border-box;
	color:#333;
	font-size:14px;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.thumb-list1 > ul > li a .txt-area .title .reply {
	position:absolute;
}
.thumb-list1 > ul > li a .txt-area .cont {
	overflow:hidden;
	height:60px;
	margin-top:5px;
	line-height:20px;
}
.thumb-list1 > ul > li a .info-area {
	overflow:hidden;
	position:absolute;
	left:20px; right:20px; bottom:0;
	color:#999;
	font-size:12px;
	line-height:42px;
}
.thumb-list1 > ul > li a .info-area .name {
	float:left;
}
.thumb-list1 > ul > li a .info-area .left {
	overflow:hidden;
	float:left;
	padding-right:3px;
}
.thumb-list1 > ul > li a .info-area .left .text {
	float:left;
	position:relative;
	padding-left:15px;
}
.thumb-list1 > ul > li a .info-area .left .text:before {
	content:'';
	position:absolute;
	left:7px; top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background-color:#eee;
}
.thumb-list1 > ul > li a .info-area .left .text {}
.thumb-list1 > ul > li a .info-area .right {
	overflow:hidden;
	float:right;
	padding-right:1px;
}
.thumb-list1 > ul > li a .info-area .right .ico-file {
	float:left;
	width:28px;
	height:42px;
	background:url(../img/mobile/ico/ico_file.png) no-repeat 50% 50%;
	background-size:8px 12px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.thumb-list1 > ul > li a .info-area .right .like {
	float:left;
	padding-left:15px;
	background:url(../img/mobile/ico/ico_like2.png) no-repeat 0 50%;
	background-size:13px 12px;
}
.thumb-list1 > ul > li a .img-area {margin:10px -20px 0;}
.thumb-list1 > ul > li a .img-area img {width:100%;}
