/*
	max-width:1100px (1100 이하)
*/

/* ===========================================================================
	레이아웃
=========================================================================== */
.container {
	padding:71px 0 50px;
}
.gnb-wrap {
	display:none;
	left:-220px;
}

.header .btn-search {right:70px;}
.btn-gnb {
	display:block;
	position:absolute;
	right:0;top:0;
	width:70px;
	height:70px;
	border-left:1px solid #e5e5e5;
	background-image:url(../img/mobile/btn/btn_gnb.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.web.header .utill {right:140px;}

.title-wrap {display:block;}