/*
	max-width: 800px (800 이하)
*/

/* ===========================================================================
	레이아웃
=========================================================================== */
.container {padding:46px 0 0;}
.content {margin:-25px 0 0;}

/* 모바일에서 숨김처리 */
.mHide {display:none;}

/* ===========================================================================
	폼요소
=========================================================================== */
/* 인풋 텍스트 */
input[type=text] {
	height:34px;
	padding:0 10px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	line-height:35px;
}
label {vertical-align:middle;}

/* 체크박스/라디오박스 */
input[type=checkbox].styled1,
input[type=radio].styled1 {
	width:21px;
	height:21px;
	box-sizing:border-box;
}
.checkWrap,
.radioWrap {
	display:inline-block;
	position:relative;
	width:21px;
	height:21px;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:21px 43px;
	vertical-align:middle;
}
.checkWrap {background-image:url(../img/mobile/ico/form_checked.png);}
.radioWrap {background-image:url(../img/mobile/ico/form_radio.png);}
.checkWrap.checked,
.radioWrap.checked {background-position:0 -22px;}
.checkWrap input[type=checkbox].styled1,
.radioWrap input[type=radio].styled1 {
	position:absolute;
	left:0; top:0;
	opacity:0;
}
.checkWrap + label,
.radioWrap + label {margin-left:5px;}
label + .checkWrap,
label + .radioWrap {margin-left:10px;}
/*
input[type=text] + .checkWrap,
input[type=text] + .radioWrap {margin-left:17px;}
*/

/* ===========================================================================
	해더
=========================================================================== */
.header {
	position:fixed;
	left:0; right:0; top:0;
	z-index:100;
	height:45px;
	border-bottom:1px solid #e5e5e5;
	background-color:#fff;
}
.header .logo {
	left:10px; top:2px;
	width:165px;
}
.header .logo a {
	display:block;
	height:40px;
	background:url(../img/mobile/layout/site_logo.png) no-repeat 0 0;
	background-size:165px 40px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-search {
	position:absolute;
	top:0; right:45px;
	width:45px;
	height:45px;
	border-left:1px solid #e5e5e5;
	background-image:url(../img/mobile/btn/btn_search02.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:13px 13px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-gnb {
	display:block;
	position:absolute;
	right:0; top:0;
	width:45px;
	height:45px;
	border-left:1px solid #e5e5e5;
	background-image:url(../img/mobile/btn/btn_gnb.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:13px 9px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}

/* ===========================================================================
	버튼
=========================================================================== */
/*
	아이콘
*/
/* 공통 */
.btn-icon-text {display:inline-block;}
.btn-icon-text .text {
	display:block;
	position:relative;
	height:32px;
	padding:0 10px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	background-color:#fff;
	font-size:12px;
	line-height:30px;
	cursor:pointer;
}
.btn-icon-text .text:before {
	content:'';
	position:absolute;
	top:50%;
	background-repeat:no-repeat;
	background-position:0 0;
}
/* 01 */
.btn-icon-text.icon01 .text {padding-left:28px;}
.btn-icon-text.icon01 .text:before {
	left:10px;
	width:12px;
	height:9px;
	margin-top:-5px;
	background-image:url(../img/mobile/btn/btn_ico01.png);
	background-size:12px 19px;
}
.btn-icon-text.icon01.on .text {
	border-color:#888;
	color:#333;
}
.btn-icon-text.icon01.on .text:before {background-position:0 -10px;}

/* ===========================================================================
	테이블
=========================================================================== */
/* 쓰기 테이블 */

.board-write1 table {
	table-layout:inherit;
	display:block;
}
.board-write1 table tbody,
.board-write1 table tr,
.board-write1 table th,
.board-write1 table td {
	display:block;
	width:100%;
	box-sizing:border-box;
}
.board-write1 table tr {overflow:hidden;}
.board-write1 th,
.board-write1 td {
	float:left;
}
.board-write1 th {

}
.board-write1 td {
	float:left;
}

/* ===========================================================================
	컨텐츠
=========================================================================== */
/* 서브 공통 타이틀 영역 */
.title-wrap {padding:20px 20px 18px;}
.title-wrap .title {
	color:#000;
	font-size:16px;
}

/* 게시판 상단 소팅 영역 */
.sorting-area {
	position:relative;
	margin:0 20px;
	padding:10px 0;
	border-bottom:1px solid #eee;
}
.sorting-area:after {
	content:'';
	display:block;
	clear:both;
}
.sorting-area .left-box {
	position:absolute;
	left:20px; top:0; bottom:0;
	padding:10px 0;
}
.sorting-area .left-box .all-len {
	font-size:12px;
	line-height:32px;
}
.sorting-area .right-box {float:right;}

/*공지사항-리스트*/
.board-list {display: none}
/*공지사항-썸네일*/
.board-list-thumb {overflow: inherit; margin:0;}
.board-list-thumb .txt-area .num {
	display:inline-block;
	width:34px;height:24px;
	font-size:12px;
	text-align:center;
	background-color:#fff;
	border:1px solid #e5e5e5;
	color:#666;
	box-sizing:border-box;
	line-height: 22px;
}

.board-list-thumb > ul > li {
	position:relative;
	float:none;
	width:100%;
	margin:0;
}
.board-list-thumb > ul > li:before {
	content:'';
	position:absolute;
	left:0; right:0;top:-4px;
	width:100%;
	height:3px;
	background-color:#fafafa;
	border-top:1px solid #e5e5e5;
}
.board-list-thumb > ul > li:first-child:before {content: none;}
.board-list-thumb ul li a {
	display: block;
	width: 100%;
	height: 100%;
	border:none;
	box-sizing: border-box;
}
.board-list-thumb ul li a:hover {
	background-color: inherit;
	border:none;
}
.board-list-thumb ul li a:hover .tit {text-decoration: none;}
.board-list-thumb .txt-area {
	height: inherit;
}
.board-list-thumb .txt-area .title {
	position:relative;
	margin-top:5px;
}
.board-list-thumb .txt-area .title .checkWrap {display: none}
.board-list-thumb .txt-area .title .tit {
	padding-left:0;
	font-size:14px;
	font-weight: normal;
}
.board-list-thumb .txt-area .title .reply {
	position:absolute;
	padding-left:3px;
}
.board-list-thumb .other-area {height: inherit; padding-bottom:45px;}
.board-list-thumb .other-area .util {
	margin-top: 0;
	position:absolute;
	top:inherit;
	bottom:0;
	left: 0;
	padding:15px 25px;
}
.board-list-thumb .other-area .util ul {overflow: hidden}
.board-list-thumb .other-area .util li {float: left; height:18px;}
.board-list-thumb .other-area .util li span {
	position: relative;
	padding-right:0;
	margin-right:0;
	padding-left:12px;
	margin-left:12px;

}
.board-list-thumb .other-area .util li span:before {
	right:inherit;
	left:0;
}
.board-list-thumb .other-area .util .right {float: right;}
.board-list-thumb .other-area .util p,
.board-list-thumb .other-area .util li span {
	vertical-align: top;
}
.board-list-thumb .other-area .util .name {float: left;}
.board-list-thumb .other-area .util .right .attatch {
	display: inline-block;
	margin:0;
	padding:0;
	width: 8px;
	/* height: 12px; */
}
.board-list-thumb .other-area .util .right .attatch:before {content: none;}
.board-list-thumb .other-area .util .right .attatch img {
	width: 100%;
	vertical-align: middle;
}
.board-list-thumb .other-area .util .right .like {padding:0 1px 0 15px;}
.board-list-thumb .other-area .util .right .like:before {content:none}
.board-list-thumb .other-area .util .right .like:after {
	content: '';
	position:absolute;
	left:0; top:50%;
	width:13px;
	height:12px;
	margin-top:-5px;
	background-image:url(../img/mobile/ico/ico_like2.png);
	background-size:13px 12px;
}
.board-list-thumb .other-area .util span em {display: none;}
.board-list-thumb .other-area .img-area {
	position: inherit;
	width: 100%;
	height: auto;
	margin-top: 15px;
}
.board-list-thumb .other-area .img-area img {width: 100%; height: auto;}
.board-list-thumb .other-area .img-area.no-image {display: none;}
