/* 웹 전용 */
@media only screen and (min-width:801px) {
	/* gnb */
	.gnb-menu-box {display:block;top:0;}
	/* 탭 */
	.tab-list {overflow:hidden;}
	.tab-list .item {
		float:left;
		margin-top:23px;
	}
	.tab-list .item .text {
		display:block;
		position:relative;
		padding:0 10px 0 11px;
		color:#bbb;
		font-size:16px;
		font-weight:700;
		cursor:pointer;
	}
	.tab-list .item.on .text {color:#000;}
	.tab-list .item .text:before {
		content:'';
		position:absolute;
		left:0;top:50%;
		width:1px;
		height:16px;
		margin-top:-8px;
		background-color:#eee;
	}
	.tab-list .item:first-child .text {padding-left:0;}
	.tab-list .item:first-child .text:before {display:none;}

	.tab-content {}
	.tab-content .tab-cont {display:none;}
	.tab-content .tab-cont.on {display:block;}

	/* 입력박스 */
	.write-box {
		position:relative;
		margin-top:24px;
		padding-right:52px;
	}
	.write-box input[type=text] {
		width:100%;
		height:32px;
		padding:0 15px;
		border:1px solid #eee;
		border-right:0;
		line-height:32px;
	}
	.write-box .btn-write {
		display:inline-block;
		position:absolute;
		right:0;top:0;bottom:0;
		width:52px;
		background-color:#ff5349;
		box-sizing:border-box;
		color:#fff;
		font-weight:700;
		text-align:center;
	}

	.container.main {
		padding:71px 0 50px 220px;
	}

	.content {
		overflow:hidden;
		margin-top:-1px;
		padding-bottom:0;
		background-color:#f5f5f5;
	}
	/* 상단고정영역 */
	.content .fixed-top-box {overflow:hidden;}
	.content .fixed-top-box .cont {width:33%;}
	.content .cont {
		overflow:hidden;
		float:left;
		position:relative;
		width:50%;
		height:400px;
		margin-left:-1px;
		
		border-top:1px solid #f5f5f5;
		border-left:1px solid #f5f5f5;
		background-color:#fff;
	}
	.content .cont.ui-sortable-helper {border:1px solid #f5f5f5;}
	.content .cont-inner {
		padding:25px 40px 0;
	}
	.content .cont-inner .title-area {
		position:relative;
		height:45px;
		color:#000;
		font-size:18px;
		font-weight:700;
		line-height:45px;
	}
	.content .cont-inner .title-area .btn-more {
		position:absolute;
		right:-15px;top:50%;
		width:42px;
		height:42px;
		margin-top:-21px;
		background:url(../images2.0/btn/btn_more.png) no-repeat 50% 50%;
		font-size:0;
		text-indent:-9999px;
		line-height:0;
	}

	.content .cont .mail-list {padding-top:4px;}
	.content .cont .mail-list .item {
		position:relative;
		margin-top:28px;
		padding-right:50px;
	}
	.content .cont .tab-cont .mail-list .item {
		margin-top:19px;
	}
	.content .cont .mail-list .item span {display:block;}
	.content .cont .mail-list .item .link {}
	.content .cont .mail-list .item .title {
		overflow:hidden;
		color:#333;
		text-overflow:ellipsis;
		line-height:22px;
		white-space:nowrap;
	}
	.content .cont .mail-list .item .title .label {
		display:inline-block;
		height:15px;
		margin-right:8px;
		padding:0 3px;
		background-color:#ff5349;
		color:#fff;
		font-size:11px;
		line-height:15px;
	}
	.content .cont .mail-list .item .date-name {
		overflow:hidden;
		color:#999;
		font-size:12px;
		line-height:19px;
	}
	.content .cont .mail-list .item .date-name em {
		float:left;
		position:relative;
		padding-left:21px;
	}
	.content .cont .mail-list .item .date-name em:first-child {padding-left:0;}
	.content .cont .mail-list .item .date-name em:before {
		content:'';
		position:absolute;
		left:10px;top:50%;
		width:1px;
		height:10px;
		margin-top:-5px;
		background-color:#f0f0f0;
	}
	.content .cont .mail-list .item .date-name em:first-child:before {display:none;}
	.content .cont .mail-list .item .btn-del {
		position:absolute;
		right:-4px;top:50%;
		width:18px;
		height:18px;
		margin-top:-9px;
		font-size:0;
		text-indent:-9999px;
		line-height:0;
		background:url(../images2.0/btn/btn_x.png) no-repeat 50% 50%;
	}

	.content .cont .mail-list.board .item {padding-right:0;}

	/* TODAY */
	.content .cont .schedule {
		padding-top:42px;
	}
	.content .cont .schedule .today {
		font-weight:700;
		text-align:center;
	}
	.content .cont .schedule .today .ears {
		color:#333;
		font-size:18px;
		line-height:22px;
	}
	.content .cont .schedule .today .date {
		display:inline-block;
		position:relative;
	}
	.content .cont .schedule .today .date .number {
		display:block;
		padding-right:10px;
		color:#ff5349;
		font-size:75px;
		line-height:80px;
		letter-spacing:-5px;
	}
	.content .cont .schedule .today .date .text {
		position:absolute;
		left:80px;bottom:6px;
		color:#999;
		font-size:15px;
	}
	.content .cont .schedule .btn-list {
		position:absolute;
		left:50px;right:50px;bottom:50px;
		border:1px solid #eee;
	}
	.content .cont .schedule .btn-list:after {
		content:'';
		display:block;
		clear:both;
	}
	.content .cont .schedule .btn-list .item {
		float:left;
		width:50%;
	}
	.content .cont .schedule .btn-list .item .inner {
		display:block;
		border-left:1px solid #eee;
	}
	.content .cont .schedule .btn-list .item:first-child .inner {border-left:0;}
	.content .cont .schedule .btn-list .item .text {
		display:block;
		position:relative;
		height:68px;
		margin:0 auto;
		padding:0 20px;
		box-sizing:border-box;
		text-align:center;
		line-height:68px;
	}
	.content .cont .schedule .btn-list .item .text:before {
		content:'';
		position:absolute;
		right:-15px;top:50%;
		width:30px;
		height:30px;
		margin-top:-15px;
		background:url(../images2.0/btn/btn_link.png) no-repeat 0 0;
	}
	.content .cont .schedule .btn-list .item .len {
		margin-left:8px;
		color:#333;
		font-size:25px;
		font-weight:700;
		vertical-align:middle;
	}


	.bx-wrapper {
		position:relative;
		*zoom:1;
	}

	.slider-box {
		overflow:hidden;
		padding-top:25px;
	}
	.slider1 {
		width:120%;
	}
	.slider1 .bx-wrapper {max-width:100% !important;}
	.slider1 .bxslider {}
	.slider1 .bxslider .item {
		width:230px !important;
		box-sizing:border-box;
		padding-right:10px;
	}
	.slider1 .bxslider .item .inner {
		display:block;
		position:relative;
		height:254px;
		padding:26px 30px 0;
		border:1px solid #eee;
	}
	.slider1 .bxslider .item span {display:block;}
	.slider1 .bxslider .item .state {
		margin-bottom:20px;
		font-size:12px;
	}
	.slider1 .bxslider .item .text {
		color:#333;
		font-size:14px;
		font-weight:700;
	}
	.slider1 .bxslider .item .date {
		color:#999;
		font-size:12px;
		margin-bottom:14px;
	}
	.slider1 .bxslider .item .date.bottom {
		position:absolute;
		right:30px;bottom:26px;
		margin-bottom:0;
	}

	.slider1 .bxslider .item .join {
		position:absolute;
		left:30px;top:135px;
		color:#999;
		font-size:12px;
	}
	.slider1 .bxslider .item .join .per {
		color:#333;
		font-size:14px;
		font-weight:700;
	}
	.slider1 .bxslider .item .btn-join {
		position:absolute;
		right:30px;bottom:30px;
		height:35px;
		padding:0 29px 0 15px;
		box-sizing:border-box;
		border-radius:25px;
		border:1px solid #eee;
		color:#666;
		font-size:12px;
		line-height:33px;
	}
	.slider1 .bxslider .item .btn-join:before {
		content:'';
		position:absolute;
		right:15px;top:50%;
		width:6px;
		height:10px;
		margin-top:-5px;
		background:url(../images2.0/btn/btn_arr.png) no-repeat 0 0;
	}

	.slider1 .bxslider .item.complete .inner {background-color:#fafafa;}
	.slider1 .bxslider .item.complete .state,
	.slider1 .bxslider .item.complete .text,
	.slider1 .bxslider .item.complete .date {color:#bbb;}
	.slider1 .bx-controls {display:none;}

	.slider2 {}
	.slider2 .bxslider .item a {
		display:block;
		height:400px;
		font-size:0;
		line-height:0;
	}
	.slider2 .bxslider .item a img {
		width:100%;
		height:100%;
	}
	.slider2 .bx-controls-direction {display:none;}
	.slider2 .bx-pager {
		position:absolute;
		right:35px;top:35px;
		font-size:0;
		line-height:0;
	}
	.slider2 .bx-pager .bx-pager-item {
		display:inline-block;
	}
	.slider2 .bx-pager .bx-pager-item .bx-pager-link {
		display:block;
		position:relative;
		width:20px;
		height:20px;
	}
	.slider2 .bx-pager .bx-pager-item .bx-pager-link:before {
		content:'';
		position:absolute;
		left:50%;top:50%;
		width:10px;
		height:10px;
		margin:-5px 0 0 -5px;
		border-radius:50%;
		background-color:#bbb;
	}
	.slider2 .bx-pager .bx-pager-item .bx-pager-link.active:before {background-color:#333;}

	.slider-box.type2 {padding-top:70px;}

	/* 내가기안한문서 */
	.slider3 {
		width:132%;
	}
	.slider3 .bx-wrapper {
		max-width:100% !important;
		margin-left:0 !important;
	}
	.slider3 .bxslider .item .inner {
		display:inline-block;
		text-align:center;
	}
	.slider3 .bxslider .item .inner .img-area {
		width:65px;
		height:65px;
		border-radius:50%;
	}
	.slider3 .bxslider .item .inner .img-area img {
		width:100%;
		height:100%;
	}
	.slider3 .bxslider .item .inner .text {
		margin-top:12px;
		height:40px;
	}
	.slider3 .bxslider .item .inner .btn-link {
		display:inline-block;
		width:60px;
		height:22px;
		margin-top:5px;
		box-sizing:border-box;
		border:1px solid #ddd;
		background-color:#fff;
		color:#666;
		font-size:11px;
		line-height:22px;
	}
	.slider3 .bx-controls {display:none;}


	.cont .btn-slide {
		position:absolute;
		right:30px;top:50%;
		height:20px;
		margin-top:-10px;
	}
	.cont .btn-slide button {
		width:15px;
		height:20px;
		background-repeat:no-repeat;
		background-position:50% 50%;
		font-size:0;
		text-indent:-9999px;
		vertical-align:top;
		line-height:0;
	}
	.cont .btn-slide .btn-prev {background-image:url(../images2.0/btn/btn_prev.png);}
	.cont .btn-slide .btn-next {background-image:url(../images2.0/btn/btn_next.png);}

	/* 스크롤바 디자인 */
	.scroll-wrap {
		position:relative;
		margin:27px 0 23px;
	}
	.scroll-box {
		overflow: auto;
		width:100%;
		height:260px;
		box-sizing:border-box;
	}
	.scroll-wrap .track {
		width:12px;
		border-radius:25px;
		background-color:#f5f5f5;
	}
	.scroll-wrap .handle {
		width:12px;
		border-radius:25px;
		background-color:#ccc;
	}

	/* 주간일정 */
	.schedule-cont {}
	.schedule-cont .slider4 {
		max-width:304px;
		margin:20px auto 25px;
		text-align:center;
	}
	.schedule-cont .slider4 .item {cursor:pointer;}
	.schedule-cont .slider4 .item p {
		color:#bbb;
		font-size:12px;
	}
	.schedule-cont .slider4 .item .date {font-size:14px;}
	.schedule-cont .slider4 .item.on {cursor:default;}
	.schedule-cont .slider4 .item.on p {color:#000;}
	.schedule-cont .bx-controls-direction a {
		display:block;
		position:absolute;
		top:50%;
		width:34px;
		height:34px;
		margin-top:-17px;
		background-repeat:no-repeat;
		background-position:50% 50%;
		font-size:0;
		text-indent:-9999px;
		line-height:0;
	}
	.schedule-cont .bx-controls-direction .bx-prev {left:-34px;background-image:url(../images2.0/btn/btn_prev.png);}
	.schedule-cont .bx-controls-direction .bx-next {right:-34px;background-image:url(../images2.0/btn/btn_next.png);}

	.schedule-cont .scroll-box {height:200px;}
	.schedule-list {}
	.schedule-list .item {
		position:relative;
		padding:24px 0 0 22px;
	}
	.schedule-list .item:before {
		content:'';
		position:absolute;
		left:5px;top:0;bottom:0;
		width:2px;
		background-color:#eee;
	}
	.schedule-list .item:first-child {padding-top:0;}
	.schedule-list .item:first-child:before {top:5px;}
	.schedule-list .item:last-child:before {
		bottom:inherit;
		height:30px;
	}
	.schedule-list .item p {}
	.schedule-list .item .time {
		position:relative;
		margin-left:-22px;
		padding-left:22px;
		color:#999;
		font-size:12px;
	}
	.schedule-list .item .time .icon {
		content:'';
		overflow:hidden;
		position:absolute;
		left:0;top:50%;
		width:12px;
		height:12px;
		margin-top:-6px;
		box-sizing:border-box;
		border-radius:50%;
		border:1px solid #e5e5e5;
		background-color:#fff;
	}
	.schedule-list .item .time.fColor .icon {border:0;}
	.schedule-list .item .time.fColor .icon:before {
		content:'';
		position:absolute;
		left:50%;top:50%;
		width:8px;
		height:8px;
		margin:-4px 0 0 -4px;
		border-radius:50%;
		background-color:#fff;
	}
	.schedule-list .item .sub {
		margin-top:3px;
		color:#333;
		font-size:13px;
	}
	.schedule-list .item .text {
		margin-top:2px;
		color:#bbb;
		font-size:12px;
	}

	/* 할일 */
	.scroll-box.todo {
		height:160px;
		margin-bottom:5px;
	}
	.todo-list .item {
		padding-top:32px;
	}
	.todo-list .item:first-child {padding-top:0;}
	.todo-list .item .date {
		color:#bbb;
		font-size:12px;
	}
	.todo-list .item .line-text {
		position:relative;
		margin-top:10px;
		padding-left:34px;
		color:#333;
	}
	.todo-list .item .line-text .icon {
		display:block;
		position:absolute;
		left:14px;top:4px;
		width:12px;
		height:9px;
		background-color:#aaa;
		background-image:url(../images2.0/ico/ico_bg_check.png);
		background-repeat:no-repeat;
		background-position:0 0;
	}
	.todo-list .item .line-text .text {
		display:block;
	}
	.todo-list .item .line-text .value {
		display:block;
		font-size:12px;
	}
	.todo-list .item .line-text.finish {
		color:#bbb;
		text-decoration:line-through;
	}

	/* 연차 */
	.annual-wrap {
		/* overflow: hidden;*/
		margin:33px -15px 0;
		/* padding-left:70px;*/
		text-align: center;
		box-sizing: border-box;
	}
	.annual-wrap .unit {
		display: inline-block;
		padding: 0 10px;
	}
	.annual-wrap .unit img {vertical-align: middle;}
	.annual-wrap div {
		display: inline-block;
		position:relative;
		padding-top:20px;
		color: #333;
		font-size: 40px;
		font-weight: 700;
		text-align: center;
		box-sizing: border-box;

	}
	.annual-wrap div.remainder {color: #ff5349}
	.annual-wrap div p {
		position:absolute;
		width: 100%;
		left:50%;
		top:0;
		-webkit-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		color:#999;
		font-size:12px;
	}

	.annual-cont {
		width: 100%;
		height:150px;
		margin-top:27px;
		border:1px solid #eee;
		box-sizing: border-box;
		overflow: hidden;
		padding:17px 19px 0;
	}
	.annual-cont .tit {
		margin-bottom:12px;
		font-size: 15px;
		color:#333;
		font-weight: 700;
		line-height: 17px;
	}
	.annual-cont .scroll-wrap {
		position:relative;
		margin-top:0;
	}
	.annual-cont .scroll-box {height: 80px;}
	.annual-cont .scroll-box .annual-list span {
		position:absolute;
		left:0;top:0;
		display: inline-block;
		width: 72px;
		color:#ff5349;
	}
	.annual-cont .scroll-box .annual-list li {
		position:relative;
		padding-left:74px;
		margin-top: 6px;
		font-size: 12px;
	}
	.annual-cont .scroll-box .annual-list li:first-child {margin-top: 0;}


	/* 최근 방명록/최근 블로그 방문자 */
	.scroll-wrap.guest {margin-top:28px;}
	.guest-list {}
	.guest-list li {
		margin-top: 32px;
	}
	.guest-list li:first-child {margin-top:0;}
	.guest-list .img-area {
		overflow: hidden;
		float: left;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		font-size: 0;
		line-height: 0;
	}
	.guest-list .img-area img {width: 100%;}
	.guest-list .txt-area {
		padding-left: 45px;
	}
	.guest-list .txt-area .tit {
		color: #333;
	}
	.guest-list .txt-area .info {
		color:#999;
		font-size: 12px;
	}
	.guest-list .txt-area .info span {
		position: relative;
		padding-left:11px;
		margin-left:10px;
	}
	.guest-list .txt-area .info span:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 1px;
		height: 10px;
		margin-top: -5px;
		background-color: #f0f0f0;
	}
	.guest-list .txt-area .info span:first-child {margin-left:0;padding-left:0;}
	.guest-list .txt-area .info span:first-child:before {display:none;}
}


/* 1050 이하 */
/*@media only screen and (max-width: 1050px) {*/
@media only screen and (max-width: 990px) {
	.content .cont-inner {padding:25px 10px 0;}
}


/* 모바일 */
@media only screen and (max-width: 800px) {
	.gnb-sliding {display:block;left:0;}
	/* 레이아웃 */
	.content {margin:-5px 0 0;padding-bottom:0;}
	.container.main {padding:46px 0 50px 0;}
	.content .cont {
		width:100% !important;
		border-top:1px solid #e5e5e5;
	}
	.content .cont-inner {
		padding:0 20px 23px;
		border-top:4px solid #fafafa;
	}
	.content .cont-inner .title-area {
		position:relative;
		color:#000;
		padding:20px 0 16px;
		font-size:16px;
		font-weight:700;
	}
	.content .cont-inner .title-area .btn-more {
		display:inline-block;
		position:absolute;
		right:10px;top:50%;
		width:30px;
		height:30px;
		margin-top:-15px;
		background:url(../images2.0/mobile/btn/btn_more.png) no-repeat 50% 50%;
		background-size:12px 3px;
		font-size:0;
		text-indent:-9999px;
		line-height:0;
	}
	html .stage3.wrapper {min-width:100%;}

	/* 탭 */
	.tab-list {
		overflow:hidden;
		margin-bottom:13px;
	}
	.tab-list .item {float:left;}
	.tab-list .item .text {
		display:block;
		position:relative;
		padding:0 6px 0 5px;
		color:#bbb;
		font-size:15px;
		font-weight:700;
		cursor:pointer;
	}
	.tab-list .item.on .text {color:#000;}
	.tab-list .item .text:before {
		content:'';
		position:absolute;
		left:0;top:50%;
		width:1px;
		height:16px;
		margin-top:-8px;
		background-color:#eee;
	}
	.tab-list .item:first-child .text {padding-left:0;}
	.tab-list .item:first-child .text:before {display:none;}

	.tab-content {}
	.tab-content .tab-cont {display:none;}
	.tab-content .tab-cont.on {display:block;}

	/* 슬라이더 버튼 */
	.cont .btn-slide {
		position:absolute;
		right:44px;top:50%;
		height:20px;
		margin-top:-10px;
	}
	.cont .btn-slide button {
		width:15px;
		height:20px;
		background-repeat:no-repeat;
		background-position:50% 50%;
		font-size:0;
		text-indent:-9999px;
		vertical-align:top;
		line-height:0;
	}
	.cont .btn-slide .btn-prev {background-image:url(../images2.0/btn/btn_prev.png);}
	.cont .btn-slide .btn-next {background-image:url(../images2.0/btn/btn_next.png);}

	/* 입력박스 */
	.write-box {
		position:relative;
		padding-right:50px;
	}
	.write-box input[type=text] {
		width:100%;
		height:30px;
		padding:0 10px;
		border:1px solid #eee;
		border-right:0;
		line-height:28px;
	}
	.write-box .btn-write {
		display:inline-block;
		position:absolute;
		right:0;top:0;bottom:0;
		width:50px;
		background-color:#ff5349;
		box-sizing:border-box;
		color:#fff;
		font-weight:700;
		text-align:center;
	}

	/* TODAY */
	.content .cont .schedule {}
	.content .cont .schedule .today {
		font-weight:700;
		text-align:center;
	}
	.content .cont .schedule .today .ears {
		color:#333;
		font-size:18px;
		line-height:22px;
	}
	.content .cont .schedule .today .date {
		display:inline-block;
		position:relative;
	}
	.content .cont .schedule .today .date .number {
		display:block;
		padding-right:10px;
		color:#ff5349;
		font-size:75px;
		line-height:80px;
		letter-spacing:-5px;
	}
	.content .cont .schedule .today .date .text {
		position:absolute;
		left:80px;bottom:6px;
		color:#999;
		font-size:15px;
	}
	.content .cont .schedule .btn-list {
		margin-top:25px;
		border:1px solid #eee;
	}
	.content .cont .schedule .btn-list:after {
		content:'';
		display:block;
		clear:both;
	}
	.content .cont .schedule .btn-list .item {
		float:left;
		width:50%;
	}
	.content .cont .schedule .btn-list .item .inner {
		display:block;
		border-left:1px solid #eee;
	}
	.content .cont .schedule .btn-list .item:first-child .inner {border-left:0;}
	.content .cont .schedule .btn-list .item .text {
		display:block;
		position:relative;
		height:68px;
		margin:0 auto;
		padding:0 20px;
		box-sizing:border-box;
		text-align:center;
		line-height:68px;
	}
	.content .cont .schedule .btn-list .item .text:before {
		content:'';
		position:absolute;
		right:-15px;top:50%;
		width:30px;
		height:30px;
		margin-top:-15px;
		background:url(../images2.0/btn/btn_link.png) no-repeat 0 0;
	}
	.content .cont .schedule .btn-list .item .len {
		margin-left:8px;
		color:#333;
		font-size:25px;
		font-weight:700;
		vertical-align:middle;
	}

	/* 내가기안한문서/설문조사 */
	.bx-wrapper {
		position:relative;
		*zoom:1;
	}

	.slider-box {
		overflow:hidden;
	}
	.slider1 {
		width:120%;
	}
	.slider1 .bx-wrapper {max-width:100% !important;}
	.slider1 .bxslider {}
	.slider1 .bxslider .item {
		width:230px !important;
		box-sizing:border-box;
		padding-right:10px;
	}
	.slider1 .bxslider .item .inner {
		display:block;
		position:relative;
		height:254px;
		padding:26px 30px 0;
		border:1px solid #eee;
	}
	.slider1 .bxslider .item span {display:block;}
	.slider1 .bxslider .item .state {
		margin-bottom:20px;
		font-size:12px;
	}
	.slider1 .bxslider .item .text {
		color:#333;
		font-size:14px;
		font-weight:700;
	}
	.slider1 .bxslider .item .date {
		color:#999;
		font-size:12px;
		margin-bottom:14px;
	}
	.slider1 .bxslider .item .date.bottom {
		position:absolute;
		right:30px;bottom:26px;
		margin-bottom:0;
	}

	.slider1 .bxslider .item .join {
		position:absolute;
		left:30px;top:135px;
		color:#999;
		font-size:12px;
	}
	.slider1 .bxslider .item .join .per {
		color:#333;
		font-size:14px;
		font-weight:700;
	}
	.slider1 .bxslider .item .btn-join {
		position:absolute;
		right:30px;bottom:30px;
		height:35px;
		padding:0 29px 0 15px;
		box-sizing:border-box;
		border-radius:25px;
		border:1px solid #eee;
		color:#666;
		font-size:12px;
		line-height:33px;
	}
	.slider1 .bxslider .item .btn-join:before {
		content:'';
		position:absolute;
		right:15px;top:50%;
		width:6px;
		height:10px;
		margin-top:-5px;
		background:url(../images2.0/btn/btn_arr.png) no-repeat 0 0;
	}

	.slider1 .bxslider .item.complete .inner {background-color:#fafafa;}
	.slider1 .bxslider .item.complete .state,
	.slider1 .bxslider .item.complete .text,
	.slider1 .bxslider .item.complete .date {color:#bbb;}
	.slider1 .bx-controls {display:none;}

	/* 이미지 슬라이더 */
	.slider2 {
		position:relative;
	}
	.slider2 .item a {
		display:block;
		font-size:0;
		line-height:0;
	}
	.slider2 .item a img {width:100%;}
	.slider2 .bx-pager {
		position:absolute;
		right:20px;top:16px;
		z-index:5;
		font-size:0;
		line-height:0;
	}
	.slider2 .bx-pager-item {
		display:inline-block;
		text-indent:-9999px;
	}
	.slider2 .bx-pager-item a {
		display:block;
		position:relative;
		width:20px;
		height:20px;
	}
	.slider2 .bx-pager-item a:before {
		content:'';
		position:absolute;
		left:50%;top:50%;
		width:10px;
		height:10px;
		margin:-5px 0 0 -5px;
		border-radius:50%;
		background-color:#bbb;
	}
	.slider2 .bx-pager-item a.active:before {background-color:#333;}
	.slider2 .bx-controls-direction {display:none;}

	/* 최근게시글 */
	.mail-list {}
	.mail-list .item {
		position:relative;
		margin-top:10px;
	}
	.mail-list .item {
		display:block;
		padding-right:25px;
	}
	.mail-list .item:first-child {margin-top:0;}
	.mail-list .item .title {
		display:block;
		overflow:hidden;
		width:100%;
		color:#333;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	.mail-list .item .date-name {
		display:block;
		overflow:hidden;
		margin-top:3px;
		color:#999;
		font-size:12px;
	}
	.mail-list .item .date-name em {
		float:left;
		position:relative;
		padding-left:25px;
	}
	.mail-list .item .date-name em:before {
		content:'';
		position:absolute;
		left:12px;top:50%;
		width:1px;
		height:10px;
		margin-top:-5px;
		background-color:#eee;
	}
	.mail-list .item .date-name em:first-child {padding-left:0;}
	.mail-list .item .date-name em:first-child:before {display:none;}
	.mail-list .item .btn-del {
		position:absolute;
		right:3px;top:50%;
		width:24px;
		height:24px;
		margin-top:-12px;
		font-size:0;
		text-indent:-9999px;
		line-height:0;
		background:url(../images2.0/mobile/btn/btn_x.png) no-repeat 50% 50%;
		background-size:10px 10px;
	}

	/* 할일 */
	.scroll-box.todo {
		overflow-y:auto;
		height:160px;
		margin:15px 0 5px;
	}
	.todo-list .item {
		padding-top:32px;
	}
	.todo-list .item:first-child {padding-top:0;}
	.todo-list .item .date {
		color:#bbb;
		font-size:12px;
	}
	.todo-list .item .line-text {
		position:relative;
		margin-top:10px;
		padding-left:34px;
		color:#333;
	}
	.todo-list .item .line-text .icon {
		display:block;
		position:absolute;
		left:14px;top:4px;
		width:12px;
		height:9px;
		background-color:#aaa;
		background-image:url(../images2.0/ico/ico_bg_check.png);
		background-repeat:no-repeat;
		background-position:0 0;
	}
	.todo-list .item .line-text .text {
		display:block;
	}
	.todo-list .item .line-text .value {
		display:block;
		font-size:12px;
	}
	.todo-list .item .line-text.finish {
		color:#bbb;
		text-decoration:line-through;
	}

	/* 연차 */
	.annual-wrap {
		margin:5px -15px 0;
		text-align: center;
		box-sizing: border-box;
	}
	.annual-wrap .unit {
		display: inline-block;
		padding: 0 10px;
	}
	.annual-wrap .unit img {vertical-align: middle;}
	.annual-wrap div {
		display: inline-block;
		position:relative;
		padding-top:10px;
		color: #333;
		font-size: 40px;
		font-weight: 700;
		text-align: center;
		box-sizing: border-box;

	}
	.annual-wrap div.remainder {color: #ff5349}
	.annual-wrap div p {
		position:absolute;
		width: 100%;
		left:50%;top:0;
		-webkit-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		color:#999;
		font-size:12px;
		font-weight:400;
	}

	.annual-cont {
		width: 100%;
		margin-top:20px;
		border:1px solid #eee;
		box-sizing: border-box;
		overflow: hidden;
		padding:17px 19px 18px;
	}
	.annual-cont .tit {
		margin-bottom:12px;
		font-size: 15px;
		color:#333;
		font-weight: 700;
		line-height: 17px;
	}
	.annual-cont .scroll-wrap {
		position:relative;
		margin-top:0;
	}
	.annual-cont .scroll-box {
		overflow-y:auto;
		height: 80px;
	}
	.annual-cont .scroll-box .annual-list span {
		position:absolute;
		left:0;top:0;
		display: inline-block;
		width: 72px;
		color:#ff5349;
	}
	.annual-cont .scroll-box .annual-list li {
		position:relative;
		padding-left:74px;
		margin-top: 6px;
		font-size: 12px;
	}
	.annual-cont .scroll-box .annual-list li:first-child {margin-top: 0;}

	/* 주간일정 */
	.schedule-cont {}
	.schedule-cont .slider4 {
		max-width:304px;
		margin:0 auto 17px;
		text-align:center;
	}
	.schedule-cont .slider4 .item {cursor:pointer;}
	.schedule-cont .slider4 .item p {
		color:#bbb;
		font-size:12px;
	}
	.schedule-cont .slider4 .item .date {font-size:14px;}
	.schedule-cont .slider4 .item.on {cursor:default;}
	.schedule-cont .slider4 .item.on p {color:#000;}
	.schedule-cont .bx-controls-direction a {
		display:block;
		position:absolute;
		top:50%;
		width:34px;
		height:34px;
		margin-top:-17px;
		background-repeat:no-repeat;
		background-position:50% 50%;
		font-size:0;
		text-indent:-9999px;
		line-height:0;
	}
	.schedule-cont .bx-controls-direction .bx-prev {left:-34px;background-image:url(../images2.0/btn/btn_prev.png);}
	.schedule-cont .bx-controls-direction .bx-next {right:-34px;background-image:url(../images2.0/btn/btn_next.png);}

	.schedule-cont .scroll-box {
		overflow-y:auto;
		height:200px;
	}
	.schedule-list {}
	.schedule-list .item {
		position:relative;
		padding:24px 0 0 22px;
	}
	.schedule-list .item:before {
		content:'';
		position:absolute;
		left:5px;top:0;bottom:0;
		width:2px;
		background-color:#eee;
	}
	.schedule-list .item:first-child {padding-top:0;}
	.schedule-list .item:first-child:before {top:5px;}
	.schedule-list .item:last-child:before {
		bottom:inherit;
		height:30px;
	}
	.schedule-list .item p {}
	.schedule-list .item .time {
		position:relative;
		margin-left:-22px;
		padding-left:22px;
		color:#999;
		font-size:12px;
	}
	.schedule-list .item .time .icon {
		content:'';
		overflow:hidden;
		position:absolute;
		left:0;top:50%;
		width:12px;
		height:12px;
		margin-top:-6px;
		box-sizing:border-box;
		border-radius:50%;
		border:1px solid #e5e5e5;
		background-color:#fff;
	}
	.schedule-list .item .time.fColor .icon {border:0;}
	.schedule-list .item .time.fColor .icon:before {
		content:'';
		position:absolute;
		left:50%;top:50%;
		width:8px;
		height:8px;
		margin:-4px 0 0 -4px;
		border-radius:50%;
		background-color:#fff;
	}
	.schedule-list .item .sub {
		margin-top:3px;
		color:#333;
		font-size:13px;
	}
	.schedule-list .item .text {
		margin-top:2px;
		color:#bbb;
		font-size:12px;
	}

	/* 최근 방명록/최근 블로그 방문자 */
	.scroll-wrap.guest {}
	.guest-list {}
	.guest-list li {
		margin-top: 14px;
	}
	.guest-list li:first-child {margin-top:0;}
	.guest-list .img-area {
		overflow: hidden;
		float: left;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		font-size: 0;
		line-height: 0;
	}
	.guest-list .img-area img {width: 100%;}
	.guest-list .txt-area {
		padding-left: 45px;
	}
	.guest-list .txt-area .tit {
		color: #333;
	}
	.guest-list .txt-area .info {
		color:#999;
		font-size: 12px;
	}
	.guest-list .txt-area .info span {
		position: relative;
		padding-left:11px;
		margin-left:10px;
	}
	.guest-list .txt-area .info span:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 1px;
		height: 10px;
		margin-top: -5px;
		background-color: #f0f0f0;
	}
	.guest-list .txt-area .info span:first-child {margin-left:0;padding-left:0;}
	.guest-list .txt-area .info span:first-child:before {display:none;}

	/* 내가기안한문서 */
	.slider3 {
		width:132%;
	}
	.slider3 .bx-wrapper {
		max-width:100% !important;
		margin-left:0 !important;
	}
	.slider3 .bxslider .item .inner {
		display:inline-block;
		text-align:center;
	}
	.slider3 .bxslider .item .inner .img-area {
		width:65px;
		height:65px;
		border-radius:50%;
	}
	.slider3 .bxslider .item .inner .img-area img {
		width:100%;
		height:100%;
	}
	.slider3 .bxslider .item .inner .text {
		margin-top:12px;
		height:40px;
	}
	.slider3 .bxslider .item .inner .btn-link {
		display:inline-block;
		width:60px;
		height:22px;
		margin-top:5px;
		box-sizing:border-box;
		border:1px solid #ddd;
		background-color:#fff;
		color:#666;
		font-size:11px;
		line-height:22px;
	}
	.slider3 .bx-controls {display:none;}
}




/* 1100 이하 */
@media only screen and (max-width: 1100px) {
	.container.main {padding-left:0;}
}

/* 1280 이상 */
@media only screen and (min-width: 1279px) {
	.media .content .cont {width:33%;}
}







.stage1 .content .ui-sortable .cont {width:100%;}
.stage2 .content .ui-sortable .cont {width:50%;}
.stage3 .content .ui-sortable .cont {width:33%;}
.stage3.wrapper {min-width:1250px;}







/* 임시 레이어 팝업 */
.dimmed {
	display:none;
	position:fixed;
	left:0;right:0;top:0;bottom:0;
	z-index:120;
	background-color:rgba(0,0,0,.5);

}
.layer-popup {
	display:none;
	position:fixed;
	left:50%;top:50%;
	z-index:150;
	box-sizing:border-box;
	border:1px solid #eee;
	background-color:#fff;
}
.layer-popup .pop-content {padding:45px 24px 0;}

.layer-popup .pop-close {
	position:absolute;
	right:0;top:0;
	width:56px;
	height:56px;
	background:#fff url(../images2.0/btn/btn_pop_close.png) no-repeat 50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.layer-popup .title-area {
	margin-bottom:15px;
}
.layer-popup .title-area .title {
	color:#000;
	font-size:15px;
	font-weight:700;
}
.layer-popup .pop-cont {
	padding-bottom:35px;
}
.layer-popup .pop-btn-bottom {
	min-height:40px;
	padding:20px 0 30px;
	border-top:1px solid #eee;
	font-size:0;
	line-height:0;
	text-align:center;
}
.layer-popup .pop-btn-bottom .btn-text {margin-left:10px;}
.layer-popup .pop-btn-bottom .btn-text:first-child {margin-left:0;}

/* 설정 팝업 */
.pop-seeting {
	width:850px;
	margin:-327px 0 0 -425px;
}
.layer-popup .floating-list {
	overflow:hidden;
	margin-top:-10px;
}
.layer-popup .floating-list .item {
	float:left;
	position:relative;
	width:20%;
	margin-top:10px;
}
.layer-popup .floating-list .item .icon {
	overflow:hidden;
	width:50px;
	height:50px;
	box-sizing:border-box;
	border-radius:50%;
	border:1px solid #efefef;
}
.layer-popup .floating-list .item .icon.bgColor {border:0;}
.layer-popup .floating-list .item .icon.bgColor img {margin-top:-50px;}
.layer-popup .floating-list .item .text {
	position:absolute;
	left:56px;top:50%;
	margin-top:-9px;
	color:#;
	font-size:12px;
}

.layer-popup .layout-list {overflow:hidden;}
.layer-popup .layout-list .item {
	float:left;
	width:52px;
	margin-left:20px;
	text-align:center;
}
.layer-popup .layout-list .item:first-child {margin-left:0;}
.layer-popup .layout-list .item label {
	display:block;
	font-size:0;
	line-height:0;
}
.layer-popup .layout-list .item .radioWrap {margin:10px 0 0;}